.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: table;
    transition: opacity .3s ease;
    z-index: 999;
  
    &-wrapper {
      display: table-cell;
      vertical-align: middle;
      padding: 0px 10px;
    }
  
    &-container {
      max-height: 90%;
      overflow: auto;
      background-color: #f5f5f5;
      max-width: 400px;
      margin: auto;
      border-radius: 2px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
      transition: all .3s ease;
      padding: 18px;
    }
  
    &-header {
      border-bottom: none;
    }
  
    &-footer {
      margin-top: 15px;
    }
  
    &-enter, &-leave {
      opacity: 0;
    }
  
    &-enter &-container,
    &-leave &-container {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }