// Estilos base
*
	padding: 0px
	margin: 0px
	outline: none

*:focus
	outline: none !important

a
	text-decoration: none
	&:hover, &:focus
		text-decoration: none

[v-cloak]
	display: none

img
	border: 0

textarea
	resize: none

h1, h2, h3, h4, h5, h6
	margin: 0

html, body
	font-family: 'Hind', sans-serif
	height: 100%
	color: #585858
	font-size: 16px

.fade-enter-active, .fade-leave-active
	transition: opacity .2s ease

.fade-enter, .fade-leave-to
	opacity: 0

.bigger-font
	font-size: 25px

.big-font
	font-size: 20px

.medium-font
	font-size: 18px

.small-font
	font-size: 16px

.smallest-font
	font-size: 14px

.center-block
	margin: 0 auto

.img-responsive
	max-width: 100%
	height: auto
	display: block

.text-center
	text-align: center

button
	border: none

button[disabled]
	cursor: not-allowed !important
	opacity: 0.6

.text-left
	text-align: left

.text-center
	text-align: center

.text-right
	text-align: right

.hide
	display: none

.btn-rounded
	border: 3px solid $second_text
	+border-radius(50px)
	color: $second_text
	text-align: center
	font-weight: bold
	cursor: pointer

.second-color
	color: $second_text

select
	background-color: #252525
	+border-radius(5px)
	width: 180px
	height: 35px
	color: #fff
	font-size: 16px

.bg-black
	background-color: #252525

.bg-medium-gray
	background-color: #e3e3e3

.bg-light-gray
	background-color: #f1f1f1

.bg-white
	background-color: #fff

.uppercase
	text-transform: uppercase

.capitalize
	text-transform: capitalize

.circle-indicators
	width: 18px
	height: 18px
	+border-radius(50%)
	border: 2px solid #fff

.red-ind-circle
	background-color: #e74d3d

.yellow-ind-circle
	background-color: #f39c12

.green-ind-circle
	background-color: #62bd85

.yellow-circle
	background-color: #f6e42a

.beige-circle
	background-color: #f5f5dc

.blue-circle
	background-color: #0021cc

.white-circle
	background-color: #fff

.bronze-circle
	background-color: #cd7f32

.brown-circle
	background-color: #8b4513

.camel-circle
	background-color: #C19A6B

.light-blue-circle
	background-color: #add8e6

.dark-brown-circle
	background-color: #d2691e

.cooper-circle
	background-color: #b87333

.light-pink-circle
	background-color: #ff7f50

.blue-electric-circle
	background-color: #0892d0

.mud-circle
	background-color: #734222

.grey-circle
	background-color: #7f7f7f

.light-purple-circle
	background-color: #551a8b

.lemon-green-circle
	background-color: #fff44f

.navy-blue-circle
	background-color: #000080

.magenta-circle
	background-color: #ff00ff

.mint-circle
	background-color: #3eb489

.purple-circle
	background-color: #551a8b

.multicolor-circle
	background-color: #39ff14

.orange-circle
	background-color: #fb8707

.black-circle
	background-color: #000000

.black-circle
	background-color: #252525

.nude-circle
	background-color: #ebc8b2

.ochre-circle
	background-color: #CC7722

.dark-green-circle
	background-color: #86895d

.gold-circle
	background-color: #ffd700

.pathe-circle
	background-color: #4b3621

.oil-circle
	background-color: #2C2416

.red-circle
	background-color: #ff0000

.pink-circle
	background-color: #ff0080

.tan-circle
	background-color: #d2b48c

.wine-circle
	background-color: #722f37

.turquoise-circle
	background-color: #40e0d0

.green-circle
	background-color: #00ff00

.inox-circle
	background-color: #c8c7c2