<!DOCTYPE html>
<html lang="es-MX">

<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="theme-color" content="#000">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui">
	<meta name="author" content="unexpect.mx">
	<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@7.29.2/dist/sweetalert2.min.css">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
	 crossorigin="anonymous">

	<!-- FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">

	<!-- ANDROID -->
	<link rel="manifest" href="/manifest.json">

	<!-- IOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Checklist">
	<link rel="shortcut icon" href="dist/img/icons/checklist/checklist-48x48.png" type="image/png" />
	<link href="dist/img/icons/checklist/checklist-57x57.png" rel="apple-touch-icon" sizes="57x57" />
	<link href="dist/img/icons/checklist/checklist-60x60.png" rel="apple-touch-icon" sizes="60x60" />
	<link href="dist/img/icons/checklist/checklist-72x72.png" rel="apple-touch-icon" sizes="72x72" />
	<link href="dist/img/icons/checklist/checklist-76x76.png" rel="apple-touch-icon" sizes="76x76" />
	<link href="dist/img/icons/checklist/checklist-96x96.png" rel="apple-touch-icon" sizes="96x96" />
	<link href="dist/img/icons/checklist/checklist-114x114.png" rel="apple-touch-icon" sizes="114x114" />
	<link href="dist/img/icons/checklist/checklist-120x120.png" rel="apple-touch-icon" sizes="120x120" />
	<link href="dist/img/icons/checklist/checklist-144x144.png" rel="apple-touch-icon" sizes="144x144" />
	<link href="dist/img/icons/checklist/checklist-152x152.png" rel="apple-touch-icon" sizes="152x152" />
	<link href="dist/img/icons/checklist/checklist-180x180.png" rel="apple-touch-icon" sizes="180x180" />
	<link href="dist/img/icons/checklist/checklist-192x192.png" rel="apple-touch-icon" sizes="192x192" />
	<link href="dist/img/icons/checklist/checklist-256x256.png" rel="apple-touch-icon" sizes="256x256" />
	<link href="dist/img/icons/checklist/checklist-384x384.png" rel="apple-touch-icon" sizes="384x384" />
	<link href="dist/img/icons/checklist/checklist-512x512.png" rel="apple-touch-icon" sizes="512x512" />

	<!-- EDGE -->
	<meta name="msapplication-TileImage" content="/dist/img/icons/axo-checklist-144x144.png?20180907-2">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme_color" content="#000000">

	<!-- FAVICON -->
	<link rel="shortcut icon" href="/dist/img/icons/granvia/icon.png">

	<!-- CSS, change for every new version -->
	<link rel="stylesheet" href="/dist/checklist.css?20181011" type="text/css">

	<!-- TITLE -->
	<title>Checklist gv</title>
</head>

<body>
	<h1 class="hide">Checklist</h1>
	<div id="app" :class="{'bg-repeat' : !hasToShowHeader}">
		<header-content v-cloak v-if="hasToShowHeader"></header-content>
		<div class="main-content" :class="hasToShowHeader ? 'screen-header' : 'full-screen'">
			<sidebar-content v-cloak v-if="hasToShowHeader"></sidebar-content>
			<transition name="fade" mode="out-in">
				<router-view :key="$route.fullPath"></router-view>
			</transition>
		</div><!-- main-content -->
	</div><!-- app -->
	<!-- JS -->
	<script src="/dist/idb.js"></script>
	<script src="/dist/utility.js"></script>
	<!-- change for every new version -->
	<script src="/dist/checklist.js?20181011"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.29.2/dist/sweetalert2.all.min.js"></script>
</body>

</html>