<template>
  <div class="login-content" :class="{'sending' : is_making_request}" v-cloak>
    <div class="logo-space-login text-center">
      <img :src="'/dist/img/'+logotype" :alt="app_name" width="200" class="logo-login">
    </div>
    <div class="login-form" @keyup.enter="sendLoginForm">
      <div class="input-space">
        <span class="input-icon input-icon-color">
          <i class="fa fa-user medium-font" aria-hidden="true"></i>
        </span>
        <input
          type="email"
          name="user"
          v-model="login_data.email"
          class="login-input medium-font"
          @blur="checkUser()"
          placeholder="Usuario"
          :class="{'has-error' : email_error}"
        >
        <span class="input-icon" v-show="email_error">
          <i class="fa fa-times error-login medium-font" aria-hidden="true"></i>
        </span>
      </div>
      <div class="input-space">
        <span class="input-icon input-icon-color">
          <i class="fa fa-lock medium-font" aria-hidden="true"></i>
        </span>
        <input
          type="password"
          name="password"
          v-model="login_data.password"
          class="login-input medium-font"
          @change="checkPass()"
          placeholder="Contraseña"
          :class="{'has-error': password_error}"
        >
        <span class="input-icon" v-show="password_error">
          <i class="fa fa-times error-login medium-font" aria-hidden="true"></i>
        </span>
      </div>
      <div
        class="error-login small-font text-center"
        v-show="error_msg.length > 0"
        v-html="error_msg"
      ></div>
      <div class="login-button-space text-center">
        <button
          class="btn-rounded btn-login medium-font"
          title="Login"
          :disabled="!available"
          @click="sendLoginForm"
        >
          LOGIN
          <i v-show="is_making_request" class="fa fa-spinner fa-pulse"></i>
        </button>
      </div>
      <div class="login-forgot" v-show="false">
        <a href="#">Olvidé mi contraseña</a>
      </div>
    </div>
  </div>
</template>

<script type="text/javascript">
export default {
  name: "Login",
  data() {
    return {
      login_data: {
        email: "",
        password: ""
      },
      error_msg: "",
      email_error: false,
      password_error: false,
      is_making_request: false,
      app_name: APP_NAME,
      logotype: "logo.png"
    };
  },
  created() {
    this.logotype = LOGO;
  },
  methods: {
    sendLoginForm() {
      let self = this;

      this.is_making_request = true;
      this.error_msg = "";

      let data = {
        client_secret: window.CLIENT_SECRET,
        client_id: 2,
        grant_type: "password",
        username: self.login_data.email,
        password: self.login_data.password
      };

      axios
        .post(URL_SERVER + "/oauth/token", data)
        .then(function(response) {
          self.$auth.setToken(
            response.data.access_token,
            response.data.expires_in + Date.now()
          );
          axios.defaults.headers.common["Authorization"] =
            "Bearer " + self.$auth.getToken();

          axios
            .get(URL_SERVER + "/api/user")
            .then(function(response) {
              console.log(response);

              localStorage.setItem("id", response.data.id);
              localStorage.setItem("name", response.data.name);
              if (response.data.branchSelected != null) {
                localStorage.setItem(
                  "selectedBranch",
                  JSON.stringify(response.data.branchSelected)
                );

                self.$store.dispatch("setAnswering", true);
                self.$store.dispatch(
                  "setSelectedBranch",
                  response.data.branchSelected
                );
              }

              console.log("looooooog");

              console.log(response.data.branchSelected);

              localStorage.setItem("userInfo", response.data);
              self.$store.dispatch("setUserInfo", response.data);

              let data = {
                id: response.data.id,
                user_id: response.data.id,
                name: response.data.name
              };

              writeData("user", data)
                .then(function() {
                  self.$router.push("/sucursales");
                })
                .catch(function(error) {
                  self.error_msg = `Se encontró un problema al almacenar la información del usuario ${error}.`;
                  self.is_making_request = false;
                });
            })
            .catch(function(error) {
              console.log("error", error);

              self.is_making_request = false;
              self.error_msg = "Se encontró un problema.";
            });
        })
        .catch(function(error) {
          self.is_making_request = false;
          if (error.status == 401) {
            self.error_msg = error.data.message;
          } else {
            self.error_msg = "Se encontró un problema al realizar el login.";
          }
        });
    },

    checkUser() {
      if (!is.email(this.login_data.email)) {
        this.email_error = true;

        if (this.error_msg == "")
          this.error_msg =
            "Usuario con formato inválido, por favor, inténtelo nuevamente.";
      } else {
        this.email_error = false;
        this.error_msg = "";
      }
    },

    checkPass() {
      if (
        this.login_data.password == "" ||
        this.login_data.password.length < 3
      ) {
        this.password_error = true;
        this.error_msg = "Escribe una contraseña válida.";
      } else {
        this.password_error = false;
        this.error_msg = "";
      }
    }
  },
  computed: {
    available() {
      if (this.is_making_request) return false;
      else
        return (
          this.email_error == false &&
          this.password_error == false &&
          this.login_data.email != "" &&
          this.login_data.password != ""
        );
    }
  }
};
</script>