.top-branches
    padding: 30px
    +flex()
    +flex-justify(center)
    +flex-align(center)
    flex-direction: column
    min-height: 100px
    background-color: #fff

.img-loading
    max-width: 45px
    margin-bottom: 25px

.branch-title
    font-weight: 600
    color: #1d1f21

.branch-sub-title
    color: #1d1f21
    font-weight: 600

.branch-text
    color: #36393b
    font-weight: 400

.branch-margin-bottom
    margin-bottom: 10px

.branch-margin-text
    margin-bottom: 10px

.img-branches-logo
    max-width: 320px
    max-height: 22px

.margin-input
    margin: 8px 0px 15px

.branch-img-bottom
    margin-bottom: 5px

.bg-gray-branches
    background-color: #e9ebf0

.branches-wrapper
    padding: 10px
    +flex()
    +flex-align(center)
    +flex-justify(center)
    flex-direction: column
    background-color: #fff

.input-search-branches
    cursor: pointer
    padding: 10px 30px
    border: 1px solid #c9cbd1
    border-radius: 2px
    background-color: #fff
    color: #1d1f21
    min-width: 260px
    height: 18px
    &::-webkit-input-placeholder
        color: #93989d
    &::-moz-placeholder
        color: #93989d
    &:-ms-input-placeholder
        color: #93989d
    &:-moz-placeholder
        color: #93989d

.btn-black
    padding: 13px 24px
    background-color: #0e1011
    color: #fff
    border: 1px solid #fff
    box-shadow: 6px 9px 50px -20px #000
    width: 100%
    max-width: 320px
    cursor: pointer
    border-radius: 3px

.re-fresh, .re-fresh:hover, .re-fresh:focus
    color: #7f8c8d
    text-decoration: underline

.axo-selected
    padding: 5px
    background-color: #000

.list-searched-branches
    position: absolute
    width: 100%
    top: 55px
    max-height: 180px
    overflow: auto
    background-color: #e9ebf0
    padding: 7px !important
    border-radius: 3px !important
    li
        cursor: pointer
        list-style: none
        padding: 10px 5px
        background: #fff
        color: #1d1f21
        margin-bottom: 4px
        box-shadow: 6px 9px 50px -20px #000
        padding-left: 7px

.clear-search, .clear-search:hover, .clear-search:focus
    position: absolute
    right: 0
    top: 0
    width: 35px
    height: 41px
    +flex()
    +flex-justify(center)
    +flex-align(center)
    border: 1px solid #c9cbd1
    color: #8f9ba0
    font-size: 20px
    background-color: #fff
    height: 38px

.visibility-hidden
    visibility: hidden

.columns
    +flex()
    flex-direction: column

.full-width
    width: 100%

.closer-branch
    margin-top: 9px
    padding: 20px 20px
    background-color: #efefef
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.26)
    &:first-child
        border-top: none

.margin-top-no-branches
    margin-top: 25px