.category-check
    padding: 15px 10px
    margin-bottom: 3px
    text-align: center
    height: 25px
    color: #fff
    +flex()
    +flex-justify(center)
    +flex-align(center)
    background-color: #ccc
    cursor: pointer
    font-size: 18px
    font-weight: bold
    min-height: 30px

.category-check:first-child
    box-shadow: none

.vs
    &.header-wrapper
        background-image: none
        header
            background-color: #fff
            .menu
                border-right: 1px solid #edeff2
    .category-check:nth-child(even), .btn-end-checklist, .btn-confirm-modal, .nav-toggle span, .nav-toggle span:before, .nav-toggle span:after
        background-color: #dc4d84

.vs
    .category-check:nth-child(odd)
        background-color: #e4a7ac

.th
    &.header-wrapper
        background-image: none
        header
            background-color: #fff
            .menu
                border-right: 1px solid #edeff2
    .category-check:nth-child(even), .btn-end-checklist, .btn-confirm-modal, .nav-toggle span, .nav-toggle span:before, .nav-toggle span:after
        background-color: #001b4d

.th
    .category-check:nth-child(odd)
        background-color: #d50023

.bc
    &.header-wrapper
        background-image: none
        header
            background-color: #fff
            .menu
                border-right: 1px solid #edeff2
    .category-check:nth-child(even), .btn-end-checklist, .btn-confirm-modal, .nav-toggle span, .nav-toggle span:before, .nav-toggle span:after
        background-color: #646569

.bc
    .category-check:nth-child(odd)
        background-color: #6b6c70

.hl
    &.header-wrapper
        background-image: none
        header
            background-color: #fff
            .menu
                border-right: 1px solid #edeff2
    .category-check:nth-child(even), .btn-end-checklist, .btn-confirm-modal, .nav-toggle span, .nav-toggle span:before, .nav-toggle span:after
        background-color: #2c2f43

.hl
    .category-check:nth-child(odd)
        background-color: #4b5065

.ab
    &.header-wrapper
        background-image: none
        header
            background-color: #fff
            .menu
                border-right: 1px solid #edeff2
    .category-check:nth-child(even), .btn-end-checklist, .btn-confirm-modal, .nav-toggle span, .nav-toggle span:before, .nav-toggle span:after
        background-color: #3f6074

.ab
    .category-check:nth-child(odd)
        background-color: #06436a

.bw
    &.header-wrapper
        background-image: none
        header
            background-color: #fff
            .menu
                border-right: 1px solid #edeff2
    .category-check:nth-child(even), .btn-end-checklist, .btn-confirm-modal, .nav-toggle span, .nav-toggle span:before, .nav-toggle span:after
        background-color: #205383

.bw
    .category-check:nth-child(odd)
        background-color: #a6bacd

.bb
    &.header-wrapper
        background-image: none
        header
            background-color: #fff
            .menu
                border-right: 1px solid #edeff2
    .category-check:nth-child(even), .btn-end-checklist, .btn-confirm-modal, .nav-toggle span, .nav-toggle span:before, .nav-toggle span:after
        background-color: #202a44

.bb
    .category-check:nth-child(odd)
        background-color: #333b53

.ck
    &.header-wrapper
        background-image: none
        header
            background-color: #fff
            .menu
                border-right: 1px solid #edeff2
    .category-check:nth-child(even), .btn-end-checklist, .btn-confirm-modal, .nav-toggle span, .nav-toggle span:before, .nav-toggle span:after
        background-color: #3c3c3c

.ck
    .category-check:nth-child(odd)
        background-color: #393637

.co
    &.header-wrapper
        background-image: none
        header
            background-color: #fff
            .menu
                border-right: 1px solid #edeff2
    .category-check:nth-child(even), .btn-end-checklist, .btn-confirm-modal, .nav-toggle span, .nav-toggle span:before, .nav-toggle span:after
        background-color: #000000

.co
    .category-check:nth-child(odd)
        background-color: #272727

.ex
    &.header-wrapper
        background-image: none
        header
            background-color: #fff
            .menu
                border-right: 1px solid #edeff2
    .category-check:nth-child(even), .btn-end-checklist, .btn-confirm-modal, .nav-toggle span, .nav-toggle span:before, .nav-toggle span:after
        background-color: #000000

.ex
    .category-check:nth-child(odd)
        background-color: #3f3f3f

.gs
    &.header-wrapper
        background-image: none
        header
            background-color: #fff
            .menu
                border-right: 1px solid #edeff2
    .category-check:nth-child(even), .btn-end-checklist, .btn-confirm-modal, .nav-toggle span, .nav-toggle span:before, .nav-toggle span:after
        background-color: #e80031

.gs
    .category-check:nth-child(odd)
        background-color: #000000

.ks
    &.header-wrapper
        background-image: none
        header
            background-color: #fff
            .menu
                border-right: 1px solid #edeff2
    .category-check:nth-child(even), .btn-end-checklist, .btn-confirm-modal, .nav-toggle span, .nav-toggle span:before, .nav-toggle span:after
        background-color: #ff6f83

.ks
    .category-check:nth-child(odd)
        background-color: #65a522

.lf
    &.header-wrapper
        background-image: none
        header
            background-color: #fff
            .menu
                border-right: 1px solid #edeff2
    .category-check:nth-child(even), .btn-end-checklist, .btn-confirm-modal, .nav-toggle span, .nav-toggle span:before, .nav-toggle span:after
        background-color: #7b7b7d

.lf
    .category-check:nth-child(odd)
        background-color: #f57b8a

.rp
    &.header-wrapper
        background-image: none
        header
            background-color: #fff
            .menu
                border-right: 1px solid #edeff2
    .category-check:nth-child(even), .btn-end-checklist, .btn-confirm-modal, .nav-toggle span, .nav-toggle span:before, .nav-toggle span:after
        background-color: #ae9770

.rp
    .category-check:nth-child(odd)
        background-color: #3e431f

.gv
    &.header-wrapper
        background-image: none
        header
            background-color: #fff
            .menu
                border-right: 1px solid #edeff2
    .category-check:nth-child(even), .btn-end-checklist, .btn-confirm-modal, .nav-toggle span, .nav-toggle span:before, .nav-toggle span:after
        background-color: #191c1f

.gv
    .category-check:nth-child(odd)
        background-color: #8e908f

.gvsale
    &.header-wrapper
        background-image: none
        header
            background-color: #fff
            .menu
                border-right: 1px solid #edeff2
    .category-check:nth-child(even), .btn-end-checklist, .btn-confirm-modal, .nav-toggle span, .nav-toggle span:before, .nav-toggle span:after
        background-color: #191c1f

.gvsale
    .category-check:nth-child(odd)
        background-color: #8e908f

.stw
    &.header-wrapper
        background-image: none
        header
            background-color: #fff
            .menu
                border-right: 1px solid #edeff2
    .category-check:nth-child(even), .btn-end-checklist, .btn-confirm-modal, .nav-toggle span, .nav-toggle span:before, .nav-toggle span:after
        background-color: #505fb2

.stw
    .category-check:nth-child(odd)
        background-color: #8e908f

.fs
    &.header-wrapper
        background-image: none
        header
            background-color: #fff
            .menu
                border-right: 1px solid #edeff2
    .category-check:nth-child(even), .btn-end-checklist, .btn-confirm-modal, .nav-toggle span, .nav-toggle span:before, .nav-toggle span:after
        background-color: #9b3833

.fs
    .category-check:nth-child(odd)
        background-color: #8e908f

.custom-axo
    &.header-wrapper
        background-image: none
        header
            background-color: #fff
            .menu
                border-right: 1px solid #edeff2
    .category-check:nth-child(even), .btn-end-checklist, .btn-confirm-modal, .nav-toggle span, .nav-toggle span:before, .nav-toggle span:after
        background-color: #2c2f43

.custom-axo
    .category-check:nth-child(odd)
        background-color: #4b5065

.axo
    .category-check:nth-child(even), .btn-end-checklist, .btn-confirm-modal, .nav-toggle span, .nav-toggle span:before, .nav-toggle span:after
        background-color: #545454

.axo
    .category-check:nth-child(odd)
        background-color: #131313

.list-checklist-wrapper
    position: fixed
    padding-top: 50px
    padding-bottom: 1px
    top: 111px
    overflow: auto
    width: 100%
    z-index: 1

.no-scroll
    overflow: hidden

.image-background
    background-repeat: no-repeat
    background-position: center top
    background-size: cover
    background-color: #F1F1F1

.th-bg
    background-image: url('/dist/img/th-bg.png')

.vs-bg
    background-image: url('/dist/img/vs-bg.png')

.bc-bg
    background-image: url('/dist/img/bc-bg.png')

.hl-bg
    background-image: url('/dist/img/hl-bg.png')

.ex-bg
    background-image: url('/dist/img/ex-bg.jpg')

.gs-bg
    background-image: url('/dist/img/gs-bg.jpg')

.ks-bg
    background-image: url('/dist/img/ks-bg.jpg')

.lf-bg
    background-image: url('/dist/img/lf-bg.jpg')

.rp-bg
    background-image: url('/dist/img/rp-bg.jpg')

.bb-bg
    background-image: url('/dist/img/bb-bg.jpg')

.ab-bg
    background-image: url('/dist/img/ab-bg.jpg')

.bw-bg
    background-image: url('/dist/img/bw-bg.jpg')

.ck-bg
    background-image: url('/dist/img/ck-bg.jpg')

.co-bg
    background-image: url('/dist/img/co-bg.jpg')

.body-fixed
    position: fixed
    width: 100%
