.comment-window-shadow
    position: fixed
    top: 0
    right: -100vw
    width: 100vw
    +flex()
    +flex-justify(flex-end)
    height: 100%
    z-index: 2
    transition: all 300ms linear

.comment-window-wrapper
    height: 100%
    background-color: #fff
    width: 92vw

.close-comment-wrapper
    padding-bottom: 25px
    a, a:hover, a:focus
        width: 50px
        height: 40px
        border-bottom: 2px solid #dbe0e4
        border-right: 2px solid #dbe0e4
        color: #000
        +flex()
        +flex-justify(center)
        +flex-align(center)

.question-description
    padding: 0px 20px 50px
    color: #000

.add-comment-window
    padding: 0px 18px 20px
    textarea
        width: calc(100% - 22px)
        background-color: #edf1f4
        border: 1px solid #d9dbdb
        +border-radius(3px)
        padding: 10px
        min-height: 40px
        max-height: 300px
    button
        width: 200px


.align-right
    +flex()
    +flex-justify(flex-end)

.open-comment
    transform: translateX(-100vw)
    background-color: rgba(0,0,0,0.85)