.login-content
	max-width: 280px
	width: 100%
	padding: 35px 60px

.login-input
	border-radius: 5px
	padding: 18px 32px
	background-color: #303132
	border: 1px solid #3d4144
	color: #9c9c9c
	width: calc(100% - 64px)
	&::-webkit-input-placeholder
		color: #a3a3a3
		font-size: 16px
	&::-moz-placeholder
		color: #a3a3a3
	&:-ms-input-placeholder
		color: #a3a3a3
	&:-moz-placeholder
		color: #a3a3a3


.input-icon-color
	color: #a3a3a3

.input-space
	margin-bottom: 20px
	position: relative
	color: #fff

.input-icon
	position: absolute
	margin-left: 7px
	width: 10%
	+flex()
	+flex-justify(center)
	+flex-align(center)
	height: 100%
	left: 0
	top: 0
	&:last-child
		right: 0
		left: initial

.logo-space-login
	margin-bottom: 50px

.error-login
	color: hsl(348, 100%, 61%) !important
	font-weight: lighter
	padding-bottom: 5px
	display: block

.has-error
	border-color: hsl(348, 100%, 61%) !important
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important

.btn-disabled, .btn-disabled:hover, .btn-disabled:focus
	background-color: #85473d !important
	color: #b66254 !important
	font-weight: bold
	border-radius: 0
	opacity: 1 !important
	cursor: not-allowed
	text-transform: uppercase

.sending
	cursor: wait

.btn-login
	cursor: pointer
	background-color: #fff
	border-radius: 5px
	width: 100%
	color: #1c1c1b
	font-weight: lighter
	border: 1px solid #b3b6b6
	padding: 15px 0px
	margin-top: 10px

.login-title
	letter-spacing: 5px
	color: #fff
	font-weight: 300

.login-sub
	color: #bdbdbd
	margin-bottom: 50px

.bg-login-full
	+flex-justify(center)
	+flex-align(center)

.logo-login
	max-width: 149px
	width: 38vw

.login-button-space
	padding-top: 0px