.list-questions-wrapper
    padding: 30px

.item-question
    background: white
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.26)
    margin-bottom: 35px
    max-width: 600px
    margin: 0px auto 26px
    width: 85%

.comment-wrapper
    +flex()
    +flex-align(center)
    +flex-justify(flex-end)
    button
        width: 40px
        height: 40px
        +flex()
        +flex-align(center)
        +flex-justify(center)
        position: relative
        background-color: #e2e2e2
        border-radius: 155px
        top: -7px
        left: 13px
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25)
        cursor: pointer

.answerYesActive
    background: #34C36D !important
    color: white !important

.answerNoActive
    background: #DA5047 !important
    color: white !important

.answerNaActive
    background: #444
    color: white !important

.item-question-text
    border-bottom: 1px solid #e8e8e8
    padding: 45px  20px

    text-align: center
    font-size: 1.1em

.item-question-answer
    //border-right: 1px solid #ccc
    padding: 10px
    text-align:center
    cursor: pointer
    border-radius: 3px
    +flex()
    +flex-align(center)
    +flex-justify(center)

.text-center
    text-align: center

.color-green
    color: #34C36D

.color-red
    color: #DA5047

.width100
    width: 100%

.flex
    display: flex

.navigate-wrap
    position: fixed
    bottom: 0px
    width: 100%
    border-top: 1px solid #ccc
    left: 0
    button
        background-color: #f1f1f1
        cursor: pointer
    button:active
        background-color: #bfbebe

.padding20
    padding: 20px

.questions-wrapper
    padding-bottom: 58px
    height: auto

.pointer
    cursor: pointer

.comment-marker
    width: 12px
    height: 12px
    background-color: #e12f21
    +border-radius(50%)
    border: 1px solid #fff
    +flex()
    +flex-justify(center)
    +flex-align(center)
    font-size: 10px
    color: #fff
    font-weight: bold
    position: absolute
    top: 1px
    right: 1px

.lastQContainer
    // background-color: rgb(241, 241, 241)
    color: #585858
    margin-top: 0px
    width: 70%
    margin: auto

.lastQuestion 
    width: 20%
    text-align: center
    padding: 10px
    font-weight: bold
    color: #7d7d7d
    cursor: pointer
    padding-top: 14px

.lastItem
    padding: 10px
    padding-bottom: 5px
    padding-top: 7px
    width: 25px
    border-radius: 40px

@media (max-width: 400px)
    .lastQuestion
        padding-top: 26px !important

    .lastQContainer
        width: 93%
