<template>
  <div v-cloak class="header-wrapper" :class="theme">
    <div class="relative">
      <header>
        <div class="menu-logo">
          <div class="menu" @click.prevent="openMenu">
            <a class="nav-toggle" href="#">
              <span></span>
            </a>
          </div>
          <!-- menu -->
          <div class="logotype">
            <img
              v-if="theme == 'axo' || theme == ''"
              :src="'/dist/img/'+logotype"
              :alt="app_name"
              class="logo-header"
            >
            <img v-else :src="`/dist/img/${theme}.png`" :alt="app_name" class="logo-header">
          </div>
        </div>
        <button
          v-if="this.$store.getters.getAnswering"
          title="Finalizar"
          class="uppercase btn-end-checklist"
          @click.prevent="showModal"
        >Finalizar</button>
        <router-link
          v-if="!this.$store.getters.getAnswering && $route.path == '/checklist'"
          to="/sucursales"
        >
          <button class="uppercase btn-end-checklist">Atras</button>
        </router-link>
      </header>
      <div
        v-if="$store.getters.getSelectedBranch != null && $route.path != '/sucursales'"
        style="padding-top: 0px; text-align: center; font-size: 20px;"
      >
        <strong>Sucursal: {{$store.getters.getSelectedBranch.branch}}</strong>
      </div>
    </div>
    <modal :modalEnd="modalEnd"></modal>
  </div>
</template>

<script>
import Modal from "./ModalEndCheckList.vue";
export default {
  name: "HeaderContent",
  components: {
    Modal
  },
  data() {
    return {
      app_name: APP_NAME,
      theme: "axo",
      modalEnd: {
        show: false
      },
      logotype: "logo.png"
    };
  },
  created() {
    this.logotype = LOGO;
  },
  mounted() {
    let self = this;

    this.theme = window.theme();

    this.$bus.$on("set-theme", function(branch) {
      self.theme = branch;
    });
  },
  methods: {
    openMenu() {
      content.openSidebar();
    },
    showModal() {
      let self = this;
      swal({
        title: "¿Estás seguro que deseas finalizar este registro?",
        text: "Los registros no contestados se guardarán como No Registrados",
        showCancelButton: true,
        confirmButtonClass: "btn-confirm-modal",
        confirmButtonColor: "#324150",
        confirmButtonText: "Finalizar",
        cancelButtonClass: "btn-confirm-modal",
        cancelButtonText: "Cancelar"
      }).then(result => {
        if (result.value) {
          self.confirmDelete();
        }
      });
    },
    confirmDelete() {
      let self = this;
      this.isLoading = true;
      let userId = localStorage.getItem("id") || 0;

      console.log(`${URL_SERVER}/api/users/${userId}/finished`);

      let timerInterval;
      swal({
        title: "¡Finalizando!",
        allowOutsideClick: false,
        onOpen: () => {
          swal.showLoading();
        }
      });

      axios
        .get(`${URL_SERVER}/api/users/${userId}/finished`)
        .then(response => {
          console.log("Finished Server Ok");
          localStorage.setItem("answering", "0");
          self.$bus.$emit("answering", false);
          this.$store.dispatch("setAnswering", false);
          swal({
            title: "Finalizado!",
            text: "Ticket finalizado correctamente!",
            type: "success",
            confirmButtonText: "Ok",
            confirmButtonClass: "btn-confirm-modal",
            confirmButtonColor: "#324150"
          }).then(result => {
            self.$router.push("/sucursales");
          });
        })
        .catch(error => {
          console.log("Finished server error");
          console.log(error);

          // swal({
          //   type: "error",
          //   title: "Oops...",
          //   text:
          //     "Ha ocurrido un error al contactar el servidor, Intentelo mas tarde!"
          //   //footer: "<a href>Why do I have this issue?</a>"
          // });
        });
    }
  },
  computed: {
    showEndRecord() {
      return this.$route.path == "/checklist";
    }
  }
};
</script>