<template>
  <transition name="fade" mode="out-in">
    <div class="modal" v-show="modalEnd.show">
      <div class="modal-wrapper">
        <div class="modal-container text-center">
          <h2 class="color-title-modal big-font">¿Estás seguro que deseas finalizar este registro?</h2>
          <p
            class="color-subtitle-modal medium-font"
          >Los registros no contestados se guardarán como "No Registrados"</p>
          <div class="modal-margin-bottom">
            <button
              class="btn-confirm-modal medium-font"
              @click="confirmDelete"
              :disabled="isLoading"
            >
              Aceptar
              <i v-if="isLoading" class="fas fa-spinner fa-pulse"></i>
            </button>
          </div>
          <a
            href="#"
            @click.prevent="modalEnd.show = false"
            title="Cancelar"
            class="cancel-lnk medium-font"
          >CANCELAR</a>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: "ModalConfirm",
  props: ["modalEnd"],
  data() {
    return {
      isLoading: false
    };
  },
  methods: {
    confirmDelete() {
      let self = this;
      this.isLoading = true;
      let userId = localStorage.getItem("id") || 0;
      console.log(`${URL_SERVER}/api/users/${userId}/finished`);

      axios
        .get(`${URL_SERVER}/api/users/${userId}/finished`)
        .then(response => {
          console.log("Finished Server Ok");
          this.modalEnd.show = false;
          localStorage.setItem("answering", "0");
          self.$bus.$emit("answering", false);
          this.$store.dispatch("setAnswering", false);

          localStorage.setItem("userInfo", null);
          self.$store.dispatch("setUserInfo", false);
          self.isLoading = false;
          self.$router.push("/sucursales");
        })
        .catch(error => {
          console.log("Finished server error");
          alert(
            "Ha ocurrido un error al contactar el servidor, Intentelo mas tarde."
          );
          this.isLoading = false;
        });
    }
  }
};
</script>