<template>
  <div class="sidebar">
    <ul class="menu-options">
      <li v-if="!answering">
        <router-link
          to="/sucursales"
          title="Inicio"
          class="medium-font"
          :class="{'menu-opt-lock' : answering}"
        >INICIO</router-link>
      </li>
      <li v-else>
        <a
          href="#"
          @click.prevent="showModal"
          title="Cancelar checkList"
          class="medium-font"
          style="color: rgb(255, 96, 141)"
        >CANCELAR CHECKLIST</a>
      </li>
      <li>
        <a href="#" @click.prevent="cleanCache" title="Cerrar sesión" class="medium-font">
          LIMPIAR CACHE &nbsp;
          <i class="fas fa-sync-alt" style="padding-bottom: 4px"></i>
        </a>
      </li>
      <li>
        <a href="#" @click.prevent="logout" title="Cerrar sesión" class="medium-font">
          CERRAR SESIÓN &nbsp;
          <i class="fas fa-sign-out-alt" style="padding-bottom: 4px"></i>
        </a>
      </li>
      <li>
        <a
          style="color: #737373; font-size: 16px; border-bottom: 0;"
          class="medium-font"
        >Version 1.1 &nbsp;</a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "SidebarContent",
  data() {
    return {
      itIsAdmin: true,
      isAnswering: false
    };
  },
  computed: {
    answering() {
      return this.$store.getters.getAnswering;
    }
  },
  mounted() {
    let self = this;
    this.isAnswering = window.isAnswering();
    this.$bus.$on("answering", function(value) {
      self.isAnswering = value;
    });
    // console.log(
    //   "log from sidebarcontent:" + this.$store.getters.getSelectedBranch
    // );
    // console.log(
    //   "log from sidebarcontent:" + self.$store.getters.getUserInfo.id
    // );
  },
  methods: {
    cleanCache() {
      location.reload(true);
    },
    logout() {
      this.$auth.destroyToken();
      this.$router.push("/login");
    },
    showModal() {
      let self = this;
      swal({
        title: "¿Estás seguro que deseas Cancelar este Checklist?",
        showCancelButton: true,
        type: "warning",
        confirmButtonClass: "btn-confirm-modal",
        confirmButtonColor: "#324150",
        confirmButtonText: "Si, Cancelar",
        cancelButtonClass: "btn-confirm-modal",
        cancelButtonText: "No"
      }).then(result => {
        if (result.value) {
          self.cancelCheckList();
        }
      });
    },
    cancelCheckList() {
      let self = this;
      let timerInterval;
      swal({
        title: "Cancelando!",
        text: "Redireccionando a home, espere porfavor...",
        onOpen: () => {
          swal.showLoading();
        },
        onClose: () => {}
      }).then(result => {
        if (
          // Read more about handling dismissals
          result.dismiss === swal.DismissReason.timer
        ) {
          console.log("I was closed by the timer");
        }
      });
      axios
        .delete(`${URL_SERVER}/api/answered/delete`)
        .then(response => {
          console.log("Finished Server Ok");
          localStorage.setItem("answering", "0");
          self.$bus.$emit("answering", false);
          localStorage.setItem("userInfo", null);
          self.$store.dispatch("setUserInfo", false);
          self.$store.dispatch("setAnswering", false);
          self.$router.push("/sucursales");
          Swal({
            position: "top-end",
            type: "success",
            title: "Cancelado Correctamente",
            showConfirmButton: false,
            timer: 1000
          });
        })
        .catch(error => {
          console.log("Finished server error");
          alert(
            "Ha ocurrido un error al contactar el servidor, Intentelo mas tarde."
          );
        });
    }
  }
};
</script>