<template>
  <div class="content-no-border bg-gray-branches" :class="{'no-scroll': lockScroll}">
    <div class="top-branches">
      <template v-if="isWaitingforLocation">
        <img src="/dist/img/loading.png" :alt="app_name" class="fa-pulse img-loading">
        <h3 class="branch-title big-font">Te estamos geolocalizando</h3>
        <h4 class="branch-sub-title medium-font">Espera un momento...</h4>
      </template>
      <template v-else>
        <template v-if="hasGeolocation">
          <h3 class="branch-title big-font branch-margin-bottom">INICIAR NUEVO CHECKLIST</h3>
          <template v-if="!branchSelectedFromList">
            <div class="relative margin-input">
              <input
                type="text"
                class="input-search-branches medium-font"
                placeholder="Ingresa el nombre de la sucursal"
                v-model="textToSearch"
                @blur="removeMarginBottom"
              >
              <ul
                class="list-searched-branches capitalize"
                v-show="searchedBranchesResults.length > 0"
              >
                <li
                  v-for="(branch, index) in searchedBranchesResults"
                  :key="index"
                  @mousedown.prevent="setBranchFromSearch(branch.id)"
                >{{branch.fullname}}</li>
              </ul>
            </div>
          </template>
          <template v-else>
            <div class="margin-input relative">
              <input
                type="text"
                readonly
                class="input-search-branches medium-font"
                v-model="searchedSelectedBranch.fullname"
              >
              <a href="#" class="clear-search" title="Borrar" @click.prevent="clearBranchSelected">
                <i class="fa fa-times" aria-hidden="true"></i>
              </a>
            </div>
            <button
              class="btn-black medium-font uppercase"
              @click="goTocheckList(searchedSelectedBranch)"
              title="Iniciar checklist aquí"
            >Iniciar checklist aquí</button>
          </template>
        </template>
        <template v-else>
          <h3 class="branch-title big-font">Ha habido un error al geolicalizarte</h3>
          <a
            href="#"
            @click.prevent="reloadApp"
            title="Reintentar"
            class="re-fresh branch-margin-text"
          >
            <i :class="{'fa-spin' : rotateReload}" class="fa fa-refresh" aria-hidden="true"></i> Reintentar
          </a>
          <h4
            class="branch-sub-title medium-font text-center"
          >O puedes intentar buscando una sucursal</h4>
          <template v-if="!branchSelectedFromList">
            <div class="relative margin-input">
              <input
                type="text"
                class="input-search-branches medium-font"
                placeholder="Ingresa el nombre de la sucursal"
                v-model="textToSearch"
                @blur="removeMarginBottom"
              >
              <ul
                class="list-searched-branches capitalize"
                v-show="searchedBranchesResults.length > 0"
              >
                <li
                  v-for="(branch, index) in searchedBranchesResults"
                  :key="index"
                  @mousedown.prevent="setBranchFromSearch(branch.id)"
                >{{branch.fullname}}</li>
              </ul>
            </div>
          </template>
          <template v-else>
            <div class="margin-input relative">
              <input
                type="text"
                readonly
                class="input-search-branches medium-font"
                v-model="searchedSelectedBranch.fullname"
              >
              <a href="#" class="clear-search" title="Borrar" @click.prevent="clearBranchSelected">
                <i class="fa fa-times" aria-hidden="true"></i>
              </a>
            </div>
            <button
              class="btn-black medium-font uppercase"
              @click="goTocheckList(searchedSelectedBranch)"
              title="Iniciar checklist aquí"
            >Iniciar checklist aquí</button>
          </template>
        </template>
      </template>
    </div>

    <div class="branches-wrapper" v-if="closerBranches.length > 0">
      <h3 class="branch-title big-font text-center main-branch-title">Sucursales cercanas a ti</h3>
      <div class="text-center columns full-width">
        <div class="closer-branch" v-for="(branch, index) in closerBranches" :key="index">
          <div class="branch-img-bottom" :class="{'axo-selected': branch.branch.client == 'Axo'}">
            <img
              :src="`/dist/img/${branch.branch.image}`"
              :alt="`${app_name} ${branch.branch.client}`"
              height="50"
            >
          </div>
          <h5 class="uppercase branch-text small-font branch-margin-text">{{branch.branch.branch}}</h5>
          <button
            class="btn-black medium-font"
            @click="goTocheckList(branch.branch)"
            title="Iniciar"
          >INICIAR</button>
        </div>
      </div>
    </div>
    <!-- michelle perez -->
    <div class="branches-wrapper" v-else>
      <h3 class="branch-title big-font text-center main-branch-title">Todas las Sucursales</h3>
      <div class="text-center columns full-width">
        <div class="closer-branch" v-for="(branch, index) in getBranches" :key="index">
          <div class="branch-img-bottom" :class="{'axo-selected': branch.client == 'Axo'}">
            <img
              :src="`/dist/img/${branch.image}`"
              :alt="`${app_name} ${branch.client}`"
              height="50"
            >
          </div>
          <h5 class="uppercase branch-text small-font branch-margin-text">{{branch.branch}}</h5>
          <button
            class="btn-black medium-font"
            @click="goTocheckList(branch)"
            title="Iniciar"
          >INICIAR</button>
        </div>
      </div>
    </div>
    <!-- mhpm end -->
    <div v-show="isWaitingforLocation == false && closerBranches.length == 0">
      <h3
        class="branch-title big-font text-center main-branch-title margin-top-no-branches"
      >No encontramos sucursales a 40Km a tu alrededor</h3>
    </div>
  </div>
</template>

<script>
let watchGPS;

export default {
  name: "Branches",
  data() {
    return {
      isThePageLoaded: false,
      isWaitingforLocation: true,
      hasGeolocation: false,
      coords: {},
      branches: [],
      selectedBranch: {},
      closerBranches: [],
      searchedSelectedBranch: {},
      textToSearch: "",
      searchedBranchesResults: [],
      branchSelectedFromList: false,
      app_name: APP_NAME,
      lockScroll: false,
      rotateReload: false,
      allQuestions: [],
      questionsAnswered: []
    };
  },
  filters: {
    strBranchName(value) {
      let shortName = value.toString().substring(0, 25);
      return value.toString().length > 25 ? `${shortName}...` : shortName;
    }
  },
  created() {
    let self = this;
    localStorage.setItem("theme", "axo");
    this.$bus.$emit("set-theme", "axo");
    $("body").addClass("bg-gray-branches");
    // console.log("log from branches USER");
    // console.log(this.$store.getters.getUserInfo);
    // console.log(localStorage.getItem("userInfo"));
    // console.log(localStorage.getItem("id"));
    // console.log(localStorage.getItem("name"));

    if (
      self.$store.getters.getUserInfo.answereds != null &&
      self.$store.getters.setAnswering == true
    ) {
      console.log("has answereds");
      let branch = self.$store.getters.getSelectedBranch;
      self.goTocheckList(branch);
    }

    //   this.getBranchesRequest();
    // this.getQuestionsRequest();
  },
  mounted() {
    let self = this;
    this.getBranchesRequest();
    this.getQuestionsRequest();

    $(window).resize(function() {
      if (self.$route.path == "/sucursales") {
        self.checkBranchesSearchedList();
      }
    });
  },
  methods: {
    getQuestionAnswered() {
      let self = this;

      let userId = localStorage.getItem("id");

      axios
        .get(`${URL_SERVER}/api/users/${userId}/answered`)
        .then(function(response) {
          console.log(response.data);

          self.questionsAnswered = Object.values(response.data) || [];
          self.setAnsweredQuestions();
        })
        .catch(error =>
          console.log(
            "Se encontró un problema al obtener las preguntas contestadas" +
              error
          )
        );
    },
    setAnsweredQuestions() {
      let self = this;

      let answerValue = "";

      for (var i = 0; i < self.allQuestions.length; i++) {
        for (var x = 0; x < self.allQuestions[i].questions.length; x++) {
          let questionFounded = self.questionsAnswered.filter(function(
            question
          ) {
            return question.question_id == self.allQuestions[i].questions[x].id;
          });

          if (questionFounded.length > 0) {
            let answering = localStorage.getItem("answering") || "";

            if (answering == "" || answering == "0") {
              localStorage.setItem("answering", "1");
              self.$bus.$emit("answering", true);
            }

            if (
              questionFounded[0].image != "" ||
              questionFounded[0].image != null
            )
              self.allQuestions[i].questions[x].image =
                questionFounded[0].image;

            if (
              questionFounded[0].comments != "" ||
              questionFounded[0].comments != null
            )
              self.allQuestions[i].questions[x].comment =
                questionFounded[0].comments;

            let answerFounded = self.allQuestions[i].questions[
              x
            ].answers.filter(function(answer) {
              return (answer.id = questionFounded[0].answer_id);
            });

            if (answerFounded.length > 0) {
              answerValue = answerFounded[0].answer;
              self.allQuestions[i].questions[x].answer = answerValue;
            }
          }
        }
      }

      this.setAllQuestions();
    },
    getBranchesRequest() {
      let self = this;

      axios
        .get(`${URL_SERVER}/api/branchOffices`)
        .then(function(response) {
          console.log("GET ALL BRANCGES: ");

          console.log(response.data);

          self.setAllBranches(response.data);
        })
        .catch(error => console.log("Error al obtener las sucursales"));
    },
    getQuestionsRequest() {
      let self = this;

      axios
        .get(`${URL_SERVER}/api/categories/questions`)
        .then(function(response) {
          self.allQuestions = response.data.data;

          self.getQuestionAnswered();

          // self.setAllQuestions(response.data.data);
        })
        .catch(error => console.log("Las preguntas no pudieron ser obtenidas"));
    },

    checkBranchesSearchedList() {
      let windowHeight = document.documentElement.clientHeight;
      let headerHeight = $(".header-wrapper").outerHeight();
      let topBranchesHeight = $(".top-branches").outerHeight();
      let topBranches = $(".branches-wrapper").offset().top;

      let maxHeightList = windowHeight - headerHeight - topBranchesHeight;
      $(".list-searched-branches").css("max-height", maxHeightList + "px");
    },

    setInputAtTop() {
      var ua = navigator.userAgent.toLowerCase();
      var isAndroid = ua.indexOf("android") > -1;

      if ($(".top-branches").outerWidth() < 760 && isAndroid) {
        let headerHeight = $(".header-wrapper").outerHeight();
        let branchesHeight = $(".top-branches").outerHeight();
        let topBranches = $(".branches-wrapper").offset().top;

        let marginBottom = headerHeight + branchesHeight;

        $(".branches-wrapper").css({ "margin-bottom": marginBottom });
        $(".content-no-border")
          .stop()
          .animate({ scrollTop: branchesHeight }, "slow");
        this.checkBranchesSearchedList();
        this.lockScroll = true;
      }
    },
    removeMarginBottom() {
      this.searchedBranchesResults = [];
    },
    setAllBranches(branches) {
      let self = this;

      for (var key in branches) {
        writeData("branches", branches[key]).catch(function(error) {
          console.log("Error " + error);
        });

        // console.log("set all branches");
        // console.log(branches);

        if (parseInt(key) == branches.length - 1) {
          let answering = window.isAnswering();
          let branch = JSON.parse(localStorage.getItem("selectedBranch")) || {};
          console.log("seleccionados" + answering);
          if (answering) {
            console.log("seleccionados" + answering);

            self.goTocheckList(branch);
            self.$router.push("/checklist");
          } else self.getAllBranches();
        }
      }
    },
    setAllQuestions() {
      let self = this;

      let questions = this.allQuestions;

      for (var key in questions) {
        writeData("questions", questions[key]).catch(function(error) {
          console.log("Error " + error);
        });
      }
    },
    checkGeolocation() {
      let self = this;
      console.log("check location");
      let options = {
        enableHighAccuracy: true,
        timeout: 10000
      };

      if (navigator.geolocation) {
        console.log("geolocalitation");

        if (this.$route.path == "/sucursales") {
          console.log("path");
          navigator.geolocation.getCurrentPosition(
            function(position) {
              self.coords.latitude = position.coords.latitude;
              self.coords.longitude = position.coords.longitude;

              self.hasGeolocation = true;

              self.getCloserBranches();
            },
            function(error) {
              let errorMsg = "";

              switch (error.code) {
                case error.PERMISSION_DENIED:
                  errorMsg =
                    "El usuario ha denegado la solicitud de Geolocalización.";
                  break;
                case error.POSITION_UNAVAILABLE:
                  errorMsg = "La información de ubicación no está disponible.";
                  break;
                case error.TIMEOUT:
                  errorMsg =
                    "La solicitud para obtener la ubicación del usuario se ha agotado.";
                  break;
                case error.UNKNOWN_ERROR:
                  errorMsg = "Un error desconocido ocurrió.";
                  break;
                default:
                  errorMsg =
                    "La geolocalización no es compatible con este navegador.";
                  break;
              }

              console.log("[Geolocation] error", errorMsg);

              self.hasGeolocation = false;
              self.isWaitingforLocation = false;

              //line by mhpm
              //this.getBranchesRequest();
            },
            options
          );

          watchGPS = navigator.geolocation.watchPosition(function(position) {
            self.coords.latitude = position.coords.latitude;
            self.coords.longitude = position.coords.longitude;

            self.getCloserBranches();
          });
        }
      } else {
        self.hasGeolocation = false;
        self.isWaitingforLocation = false;
        console.log(
          "[Geolocation] error",
          "El navegador no soporta geolocalización."
        );
      }
    },

    reloadApp() {
      this.rotateReload = true;
      location.reload();
    },

    goTocheckList(branch) {
      let self = this;
      console.log("selected");

      console.log(branch);

      self.selectedBranch = branch;

      localStorage.setItem(
        "selectedBranch",
        JSON.stringify(self.selectedBranch)
      );
      self.$store.dispatch("setSelectedBranch", self.selectedBranch);
      localStorage.setItem("theme", branch.code);
      self.$bus.$emit("set-theme", branch.code);
      self.$router.push("/checklist");
    },

    getAllBranches(stop) {
      let self = this;

      readAllData("branches").then(function(data) {
        self.branches = data;
        self.checkGeolocation();
      });
    },

    getCloserBranches() {
      let self = this;

      if (this.getBranches.length > 0 && Object.keys(this.coords).length > 0) {
        self.closerBranches = [];

        for (var i = 0; i < this.getBranches.length; i++) {
          let distance = getDistanceFromLatLonInKm(
            self.coords.latitude,
            self.coords.longitude,
            this.getBranches[i].latitude,
            this.getBranches[i].longitude
          );

          if (distance <= 40) {
            let data = {
              distance: distance,
              branch: self.getBranches[i]
            };

            self.closerBranches.push(data);
          }
        }

        let ordenedBranches = self.closerBranches.sort(function(a, b) {
          return a.distance - b.distance;
        });
        // self.closerBranches = ordenedBranches.slice(0,5)
        self.closerBranches = ordenedBranches;

        self.isWaitingforLocation = false;
      }
    },
    searchedBranches() {
      let self = this;

      // LOCAL
      /*let searchedBranches = this.getBranches.filter(function(branch) {
          return branch.fullname.toUpperCase().indexOf(self.textToSearch.toUpperCase()) > -1
        })
       self.searchedBranchesResults = searchedBranches*/

      // SERVER
      let data = {
        search: self.textToSearch
      };

      axios
        .get(`${URL_SERVER}/api/branchOffices`, {
          params: data
        })
        .then(function(response) {
          self.searchedBranchesResults = response.data;
        })
        .catch(error =>
          console.log("Se encontró un problema al realizar la busqueda")
        );
    },

    setBranchFromSearch(id) {
      this.removeMarginBottom();

      this.branchSelectedFromList = true;

      let searchedBranches = this.getBranches.filter(function(branch) {
        return branch.id == id;
      });

      if (searchedBranches.length > -1)
        this.searchedSelectedBranch = searchedBranches[0];
    },
    clearBranchSelected() {
      this.branchSelectedFromList = false;
      this.textToSearch = "";
      this.searchedBranchesResults = [];
    }
  },
  computed: {
    getBranches() {
      return this.branches;
    },
    getRecentBranches() {
      let recentBranches = this.getBranches.filter(function(branch) {
        return branch.recent > 0;
      });

      return recentBranches.slice(0, 3);
    }
  },
  watch: {
    textToSearch() {
      let self = this;

      if (this.textToSearch.length > 0)
        delayKeyup(self.searchedBranches(), 3000);
      else this.searchedBranchesResults = [];
    },

    searchedBranchesResults() {
      this.checkBranchesSearchedList();
    }
  },
  destroyed() {
    let self = this;

    $("body").removeClass("bg-gray-branches");
    navigator.geolocation.clearWatch(watchGPS);
  }
};
</script>

