#app
	width: 100%
	height: 100%

.bg-repeat
	background-image: url('/dist/img/bg-login.png')

.full-screen
	width: 100%
	min-height: 100%
	height: auto
	+flex()
	+flex-justify(center)
	+flex-align(center)
	background-color: rgba(0,0,0,0.7)

.screen-header
	height: calc(100% - 48px)
	position: relative

.sidebar
	height: 100%
	max-width: 0px
	overflow: hidden
	background-color: #3a3a3a
	position: absolute
	z-index: 9

.open-sidebar
	max-width: 300px !important
	border-right: 1px solid #d5d8e0

.menu-options
	width: 300px
	max-height: 100%
	overflow: auto
	li
		+flex()
		a
			padding: 20px 25px
			color: #afafaf
			border-bottom: 1px solid #757575
			width: 100%
			+flex()
			+flex-align(center)
			+flex-justify(flex-start)
			img
				width: 25px
				margin-right: 15px
	

header
	min-height: 3.25rem
	background-color: rgba(0,0,0,0.7)
	+flex()
	+flex-align(center)
	+flex-justify(space-between)

.logo-header
	max-height: 35px
	max-width: 85%

.logotype
	+flex()
	+flex-align(center)

.relative
	position: relative

.header-wrapper
	width: 100%
	z-index: 5
	background-image: url(/dist/img/bg-login.png)

.error-bar
	background-color: $error
	color: #fff
	z-index: 999
	position: absolute
	width: calc(100% - 20px)
	padding: 5px 10px

.error-msg
	color: $error_text
	font-weight: bold
	display: block

.success-msg
	color: $success
	font-weight: bold
	display: block

.no-padding-bottom
	padding-bottom: 0px !important

.menu
	width: 72px
	height: 48px
	position: relative
	+flex()
	+flex-align(center)
	+flex-justify(center)
	cursor: pointer
	border-right: 1px solid #3c3f42
	margin-right: 15px

.nav-toggle
	left: 50%
	top: 50%

.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after
	height: 3px
	width: 20px
	background-color: #9c9c9c !important
	position: absolute
	display: block
	content: ''
	+border-radius(2px)
	left: 0
	right: 0
	margin: auto

.nav-toggle span:before
	top: -7px

.nav-toggle span:after
	bottom: -7px

.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after
	transition: all 200ms ease-in-out

.nav-toggle.active span
	background-color: transparent !important

.nav-toggle.active span:before, .nav-toggle.active span:after
	top: 0
	bottom: 0

.nav-toggle.active span:before
	transform: rotate(45deg)

.nav-toggle.active span:after
	transform: rotate(-45deg)

.img-menu
	max-width: 32px
	margin-right: 23px

.menu-logo
	+flex()

.content-mod
	width: calc(100% - 80px)
	padding: 30px 40px
	font-size: 16px
	height: calc(100% - 60px)
	overflow: auto

.content-no-border
	font-size: 16px
	height: 100%
	overflow: auto

h1
	color: #252525

.error-msg
	color: $error_text
	font-weight: bold
	display: block

.success-msg
	color: #3c763d
	font-weight: bold
	display: block

thead
	tr
		th
			background-color: #dfe6e7
			color: #838383
			padding: 15px 10px

tbody
	tr
		td
			padding: 15px 10px
			color: #000
			background-color: #fff
			border: 1px solid #ebebeb
			max-width: 260px

.table-wrapper
	overflow: auto

.result-wrapper
	width: 100%
	max-width: 980px
	margin-top: 20px

.input-search-wrapper
	+border-radius(2px)
	position: relative
	border: 1px solid #e5e5e5
	width: 245px
	height: 35px
	input
		+border-radius(2px)
		width: calc(90% - 10px)
		height: 25px
		border: none
		padding: 5px
	div
		position: absolute
		right: 0
		top: 0
		height: 100%
		+flex()
		+flex-align(center)
		+flex-justify(center)
		width: 10%

.pagination
	+flex()
	max-width: 290px

.page, .page:hover, .page:focus
	width: 32px
	height: 32px
	cursor: pointer
	background-color: #fff
	border-top: 1px solid #dddddd
	border-bottom: 1px solid #dddddd
	border-right: 1px solid #dddddd
	border-left: none
	text-decoration: none !important
	text-align: center
	&:first-child
		-webkit-border-top-left-radius: 5px
		-moz-border-top-left-radius: 5px
		-ms-border-top-left-radius: 5px
		-o-border-top-left-radius: 5px
		border-top-left-radius: 5px
		-webkit-border-bottom-left-radius: 5px
		-moz-border-bottom-left-radius: 5px
		-ms-border-bottom-left-radius: 5px
		-o-border-bottom-left-radius: 5px
		border-bottom-left-radius: 5px
		border-left: 1px solid #dddddd
		border-right: none
	&:nth-child(2)
		border-left: 1px solid #dddddd
	&:last-child
		-webkit-border-top-right-radius: 5px
		-moz-border-top-right-radius: 5px
		-ms-border-top-right-radius: 5px
		-o-border-top-right-radius: 5px
		border-top-right-radius: 5px
		-webkit-border-bottom-rigth-radius: 5px
		-moz-border-bottom-rigth-radius: 5px
		-ms-border-bottom-rigth-radius: 5px
		-o-border-bottom-rigth-radius: 5px
		border-bottom-rigth-radius: 5px
		border-left: none

.top-options
	margin-top: 50px

.top-options, .filter-section
	+flex()
	+flex-align(center)
	+flex-justify(flex-start)

.filter-section
	margin: 0 20px

.btn-filter
	height: 35px
	width: 95px
	+border-radius(15px)
	border: 3px solid $blue
	color: $blue
	background-color: transparent
	cursor: pointer

.filter-data
	+flex()
	+flex-align(center)
	+flex-justify(space-between)
	margin-left: 20px
	margin-right: 20px
	width: 435px
	div
		margin-right: 10px

.search-pagination
	+flex()
	+flex-align(center)
	+flex-justify(center)
	margin-bottom: 15px
	margin-left: 10px

.pagination-wrapper
	+flex()
	+flex-align(center)
	+flex-justify(flex-start)
	margin-bottom: 15px

.records-logs-table
	min-width: 600px

.cover-pagination
	+flex()
	border: 1px solid #dddddd
	border-bottom-left-radius: 5px
	border-top-left-radius: 5px
	border-top-right-radius: 5px
	border-bottom-right-radius: 5px

.bnt-and-pagination
	+flex-justify(space-between)

.btn-in-pagination
	max-width: 218px

.load-left
	+flex()
	+flex-justify(center)
	+flex-align(center)
	.search-pagination
		margin: 0
		margin-left: 10px

.v-select
	background-color: #252525 !important
	width: 180px
	+border-radius(5px)
	.dropdown-toggle
		+border-radius(5px)
		.selected-tag
			background-color: #fff !important
			color: #000
			width: calc(70% - 1px) !important
			overflow: hidden
		input
			color: #fff
			text-transform: uppercase
		input::placeholder
			color: #fff
			opacity: 1

.selected-tag + .form-control
	width: 23% !important
	margin: 0px !important
	padding: 0 !important

.v-select .open-indicator:before
	border-color: #fff !important

.v-select .dropdown-toggle .clear
	color: #fff !important

.btn-end-checklist
	width: 155px
	height: 35px
	+border-radius(3px)
	color: #fff
	background-color: #ccc
	margin-right: 10px
	cursor: pointer
	letter-spacing: 2px
	font-weight: bold

.cancel-lnk, .cancel-lnk:hover, .cancel-lnk:focus
	color: #0b1936
	text-decoration: underline

.modal-margin-bottom
	margin: 25px 0px 13px

.btn-confirm-modal
	color: #fff
	border: 1px solid #fff
	cursor: pointer
	padding: 15px
	border-radius: 3px !important

.color-title-modal
	color: #1e1e21

.color-subtitle-modal
	color: #1f1f1f

.success-msg
	color: #3c763d
	font-weight: bold
	display: block

.menu-opt-lock
	background: #d5d8e0
	opacity: 0.8
	cursor: not-allowed