// Mediaqueries
@media (max-width: 1024px)
	.resume-suppliers-wrapper, .create-supplier-sidebar
		flex-direction: column

	.create-supplier-sidebar
		width: calc(100% - 46px)
		.input-wrapper
			width: 100%
			.input-form
				width: calc(100% - 20px)

	.users-suppliers-wrapper
		width: 100%
		margin-top: 20px

	.wrapper-corner-right
		button
			max-width: 100%

	.model-details-wrapper
		flex-direction: column
		.image-model-detail, .selects-model-detail, .price-model-details
			max-width: calc(100% - 50px)
			width: calc(100% - 50px)

	.design-top-options
		flex-direction: column
		.input-serach-wrapper
			width: 100%
			margin-bottom: 15px
			input
				width: calc(100% - 16px)
		.sample-wrapper, .initial-data-wrapper
			margin-bottom: 15px
		.filters-button-wrapper, .filters-button-wrapper button
			width: 100%

	.pline-and-model-wrapper
		width: 100%
		margin-bottom: 15px

	.une-design-details
		flex-direction: column
		align-items: center

	.data-design-wrapper
		flex-direction: column
		max-width: calc(95% - 50px)
		margin-top: 15px

	.modal-filter-body
		flex-direction: column
		overflow: auto
		max-height: 65vh
		flex-wrap: initial !important

	.select-filter-wrapper
		width: 100%
		select
			width: 100%

	.modal-model-body
		min-width: 95%
		overflow: auto

@media only screen and (max-width: 760px), (min-width: 768px) and (max-width: 1024px)
	table.adaptative-table
		min-width: 100%

	table.adaptative-table, .adaptative-table thead, .adaptative-table tbody, .adaptative-table th, .adaptative-table td, .adaptative-table tr
		display: block
		text-align: left

	table.adaptative-table tbody tr td
		max-width: none

	.adaptative-table thead tr
		position: absolute
		top: -9999px
		left: -9999px

	.adaptative-table tr
		border: 1px solid #ccc

	.adaptative-table td
		border: none
		border-bottom: 1px solid #ccc
		position: relative
		padding-left: 50%
		text-align: left
		overflow: hidden

	.adaptative-table td:before
		position: absolute
		top: 6px
		left: 6px
		width: 45%
		padding-right: 10px
		white-space: nowrap

	.adaptative-table td:nth-of-type(1)
		background-color: #dfe6e7
		color: #838383

	// Users
	.users-table td:nth-of-type(1):before
		content: "NAME"
	.users-table td:nth-of-type(2):before
		content: "EMAIL"
	.users-table td:nth-of-type(3):before
		content: "TYPE"
	.users-table td:nth-of-type(4):before
		content: "EDIT"
	.users-table td:nth-of-type(5):before
		content: "REMOVE"

	// Suppliers
	.suppliers-table td:nth-of-type(1):before
		content: "NAME"
	.suppliers-table td:nth-of-type(2):before
		content: "SOCIAL REASON"
	.suppliers-table td:nth-of-type(3):before
		content: "RFC"
	.suppliers-table td:nth-of-type(4):before
		content: "REMOVE"

	.load-left
		flex-direction: column
		.search-pagination
			margin-left: 0px
			margin-top: 10px

@media (max-width: 768px)

	.initial-data-wrapper, .sample-wrapper
		width: 100%
		flex-direction: column
		align-items: flex-start

	.une-design-top
		+flex()
		+flex-align(flex-start)
		flex-direction: column

	.gray-arrow
		flex-direction: column

	.one-of-three, .one-of-two, .columns-direction
		width: 100%
		select
			width: 100%

	.families-and-prices-product-wrapper
		width: 49%
		select
			width: 100%

	.blank-spaces
		display: none

	.bodies-and-trims-wrapper
		.one-of-two
			margin: 0px 0px 12px

	.body-and-trim-wrapper
		+flex()
		flex-direction: column

	.body-input-wrapper
		margin-bottom: 10px

	.flex-right, .full-button
		button
			width: 100%

	.years-wrapper.columns-direction
		margin: 10px 0px

	.flex-div, .btn-add-body-trim
		+flex-justify(flex-start)

	.materials-references
		flex-direction: column

	.title-and-button
		flex-direction: column

	.materials-colors-wrapper, .references-wrapper
		width: calc(100% - 40px)

	.sidebar
		width: 0px

	.open-sidebar
		max-width: 90% !important
		width: 90% !important

	.menu-options
		width: 100%

	.content-mod
		margin-left: 0
		padding: 20px
		width: calc(100% - 40px)

	.title-module
		margin-bottom: 30px

	.select-type-user
		width: 100%

	.align-bottom
		flex-direction: column
		+flex-align(center)
		.btn-save
			+flex-align(center)

	.input-wrapper
		width: 100%

	.input-form
		width: calc(100% - 20px)

	.top-options
		flex-direction: column

	.input-search-wrapper
		width: 100%
		margin-bottom: 20px

	.more-filter-space
		width: 100%
		button
			width: 100%

	.title-width-buttons
		flex-direction: column
		h1
			margin-bottom: 15px

	.category-title-wrapper, .year-buttons.add-edit
		flex-direction: column

	.header-section
		width: calc(100% - 30px) !important
		border: none
		border-bottom: 1px solid #464646

	.years-wrapper
		margin: 10px

	.add-new-wrapper
		flex-direction: column
		width: 100%
		+flex-align(center)
		.select-category-wrapper
			width: 100%
			select
				width: 100%
		.add-percent-wrapper
			width: 100%
			margin-bottom: 12px
			.input-percent
				width: 100%

	.user-card
		width: 100%

	.year-buttons-design-dashboard
		flex-direction: column

@media (max-width: 400px)

	.big-font
		font-size: 5vw

	.medium-font
		font-size: 4.5vw

	.small-font
		font-size: 4vw

	.logo-space-login
		margin-bottom: 12.5vw

	.input-space
		margin-bottom: 5vw

	.login-sub
		margin-bottom: 6.5vw

	.btn-cloe
		padding: 3.8vw 22.5vw

	.login-content
		padding: 2vw 15vw

	.login-input
		padding: 4.5vw 8vw
		width: calc(100% - 16vw)

	.login-button-space
		padding-top: 2.2vw

	.btn-login
		width: 100%
		height: 13.5vw

	.btn-load
		width: 100%

	.filter-data
		flex-direction: column
		input
			width: 100%
			margin-bottom: 10px

	.pagination-wrapper
		flex-direction: column-reverse

	.centered-modal
		max-height: 125vw