<template>
	<div class="app-content" v-cloak>
		<div class="logo-space-home text-center">
			<img :src="'dist/img/logo.png'" :alt="app_name" class="logo-login">
		</div>
		<div class="text-center">
			<h5 class="small-font second-color">CARGANDO <i class="fa fa-spinner fa-pulse" aria-hidden="true"></i></h5>
		</div>
	</div>
</template>

<script>
export default {
  name: 'Home',
  data() {
    return {
      app_name: APP_NAME,
    };
  },
  mounted() {
    this.$router.push('/login');
  },
};
</script>