<template>
  <div class="content-no-border" :class="{'no-scroll': showList}">
    <div class="first-categories-wrapper">
      <div
        class="category-check medium-font uppercase category-demo columns"
        :style="{ backgroundColor: (categoryInfo.id % 2 == 0) ? brandSelected.color_primary : brandSelected.color_secondary }"
        v-show="showList"
        @click="transitionList(categoryInfo.id, false)"
      >
        <h4 class="medium-font">{{categoryInfo.category}}</h4>
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </div>
      <div :class="theme" v-show="!showList">
        <div
          class="category-check medium-font uppercase"
          :class="`category-${category.id}`"
          v-for="(category, index) in categories"
          :key="index"
          @click="transitionList(category.id, false)"
        >{{category.category}}</div>
      </div>
    </div>
    <list
      :showList="showList"
      :questionsByCategory="questionsByCategory"
      :categorySelected="categorySelected"
    ></list>
    <comment :comments="comments"></comment>
    <div v-if="isLoading" style="margin: 100px auto; width: 100px;text-align: center;">
      <i class="fas fa-sync-alt fa-2x fa-spin"></i>
    </div>
  </div>
</template>

<script>
import List from "./List.vue";
import Comment from "./Comment.vue";

export default {
  name: "CheckList",
  components: {
    List,
    Comment
  },
  data() {
    return {
      theme: "axo",
      showList: false,
      categories: [],
      categorySelected: 0,
      questionsByCategory: [],
      categoryInfo: {},
      brandSelected: {},
      isLoading: false,
      comments: {
        show: false,
        item: {}
      }
    };
  },
  created() {
    console.log("log from branches USER : ");
  },
  mounted() {
    //console.log("CheckList");
    //console.log(this.$store.getters.getUserInfo);
    let self = this;
    self.isLoading = true;
    this.getAllCategories();

    this.theme = window.theme();
    this.setAsRecent();

    $(window).resize(function() {
      self.checkHeightInCategories();
    });

    this.$on("saveRequest", function(dataRequest) {
      console.log("saveRequest");
      axios
        .post(`${URL_SERVER}/api/answered`, dataRequest)
        .then(response => {
          console.log("Saved in server");
          if (dataRequest.img) {
            swal({
              title: "¡Listo!",
              type: "success",
              showConfirmButton: false,
              timer: 800
            });
          }
        })
        .catch(error =>
          console.log("Se encontró un problema en la petición de la respuesta")
        );
    });

    this.$on("goForward", function(data) {
      let moveTo = data
        ? parseInt(self.categorySelected) + 1
        : parseInt(self.categorySelected) - 1;
      self.transitionList(moveTo, true);
    });

    this.$on("openComment", function(data) {
      self.openComment(data);
    });

    this.$on("updateQuestions", categoryId => {
      self.transitionList(categoryId, true);
    });
  },
  updated() {
    this.checkHeightInCategories();
  },
  methods: {
    setAsRecent() {
      // here selectedBranch

      console.log("setAsRecent: ");
      console.log(this.$store.getters.getSelectedBranch);

      let branch = JSON.parse(localStorage.getItem("selectedBranch"));

      console.log(branch);

      branch.recent = 1;
      localStorage.setItem("selectedBranch", JSON.stringify(branch));
      writeData("branches", branch);
      this.$store.dispatch("setSelectedBranch", branch);
      //this.transitionList(branch.recent, true);
    },
    getAllCategories() {
      let self = this;
      console.log("getAllCategories");

      axios
        .get(`${URL_SERVER}/api/categories/questions`)
        .then(function(response) {
          self.categories = response.data.data;
          self.isLoading = false;
        })
        .catch(error => console.log("Las preguntas no pudieron ser obtenidas"));

      readAllData("questions").then(function(data) {
        console.log(data);

        self.categories = data;
      });
    },
    openComment(data) {
      this.comments.show = true;
      this.comments.item = data;
    },

    transitionList(categoryId, open) {
      let self = this;
      console.log("transition");

      if (open) {
        if (categoryId > self.categories.length) categoryId = 1;
        if (categoryId < 1) categoryId = self.categories.length;
      }

      this.setcategoryInfo(categoryId);

      this.categorySelected = categoryId.toString();

      /**
       * ESPERANDO EL CAMBIO DE STRING A ENTERO
       */

      readItemData("questions", categoryId.toString()).then(function(data) {
        console.log("data changed", data.questions);
        self.questionsByCategory = data.questions;
        let temp = JSON.stringify(data);
        self.$store.dispatch("setSelectedCategory", JSON.parse(temp));
        window.scrollTo(0, 0);
        //console.log("selected: " + self.$store.getters.getSelectedCategory);
      });

      if (!open) self.showList = !self.showList;
      else self.showList = true;

      self.brandSelected = JSON.parse(localStorage.getItem("selectedBranch"));
      //console.log("log from checklist: " + self.brandSelected);
    },

    checkHeightInCategories() {
      let contentHeight = $(".content-no-border").outerHeight();
      let wrapperHeight = $(".first-categories-wrapper").outerHeight();

      if (wrapperHeight < contentHeight) {
        let singleHeight = contentHeight / 12;
        $(".category-check").css({ height: singleHeight - 30 });
      }
    },

    setcategoryInfo(id) {
      let searchedCategory = this.categories.filter(function(category) {
        return category.id == id;
      });

      if (searchedCategory.length > -1) this.categoryInfo = searchedCategory[0];
    }
  },
  watch: {
    categories() {
      this.checkHeightInCategories();
    }
  },
  beforeDestroy() {
    console.log("destroyed");
    this.$bus.$off("saveRequest", function(dataRequest) {
      console.log("saveRequest OFF");
    });
  }
};
</script>

