<template>
  <div class="comment-window-shadow" :class="{'open-comment' : comments.show}">
    <div class="comment-window-wrapper">
      <div class="close-comment-wrapper">
        <a href="#" title="Cerrar comentario" @click.prevent="closeComment">
          <i class="fa fa-times fa-2x" aria-hidden="true"></i>
        </a>
      </div>

      <div class="add-comment-window">
        <br>
        <div>
          <label for>
            <h3>{{ comments.item.question }}</h3>
            <br>
          </label>
          <textarea
            rows="3"
            class="comment-desc-textarea"
            placeholder="Agrega comentario a la incidencia"
            v-model="comment"
          ></textarea>
        </div>
        <div class="align-right">
          <button
            class="btn-black medium-font uppercase"
            title="Guardar"
            @click="setComment"
            :disabled="isMakingRequest || isLoading || comment == ''"
          >
            <span v-show="!isMakingRequest">
              Guardar
              <i v-if="isLoading" class="fas fa-spinner fa-pulse"></i>
            </span>
            <i v-show="isMakingRequest" class="fa fa-spinner fa-pulse" aria-hidden="true"></i>
          </button>
        </div>
        <!-- <span v-show="successMsg.length > 0" class="success-msg small-font" v-html="successMsg"></span> -->
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Comment",
  props: ["comments"],
  data() {
    return {
      isLoading: false,
      successMsg: "",
      comment: this.comments.item.comment || "",
      isMakingRequest: false
    };
  },
  created() {
    console.log(this.comments);
  },
  methods: {
    setComment() {
      let self = this;
      this.isLoading = true;
      self.isMakingRequest = true;
      this.comments.item.comment = this.comment;

      let data = {
        id: self.$parent.categorySelected,
        category: self.$parent.categoryInfo.category,
        questions: self.$parent.questionsByCategory
      };

      // console.log(
      //   `markCommentComplete-${self.$parent.categorySelected}${
      //     self.comments.item.id
      //   }`
      // );

      writeData("questions", data)
        .then(function(data) {
          console.log("Write Data");
          // eventHub.$emit(
          //   `markCommentComplete-${self.$parent.categorySelected}${
          //     self.comments.item.id
          //   }`
          // );
          console.log(self.$store.getters.getSelectedBranch);

          let item = self.comments.item;
          console.log(item);

          let dataRequest = {
            user_id: localStorage.getItem("id"),
            question_id: item.id,
            answer_id: localStorage.getItem("idAnswer"),
            solved: item.solved,
            image: item.image,
            branch_id: self.$store.getters.getSelectedBranch.id,
            comments: self.comment
          };
          console.log("Comments saveRequest");
          console.log(dataRequest);

          self.$parent.$emit("saveRequest", dataRequest);

          setTimeout(function() {
            self.isMakingRequest = false;
            self.successMsg = "El comentario fue guardado correctamente";
            swal({
              title: "Guardado!",
              text: "El comentario fue guardado correctamente",
              type: "success",
              confirmButtonText: "Ok",
              confirmButtonClass: "btn-confirm-modal",
              confirmButtonColor: "#324150",
              preConfirm: () => {
                self.closeComment();
              },
              onClose: () => {
                self.closeComment();
              }
            });
            self.isLoading = false;
            //self.closeComment();
          }, 1000);
        })
        .catch(function(error) {
          console.log("Error " + error);
          self.isMakingRequest = false;
          self.isLoading = false;
          alert(
            "Ha ocurrido un error al contactar el servidor, Intentelo mas tarde."
          );
        });
    },
    closeComment() {
      this.comments.item = {};
      this.successMsg = "";
      this.comment = "";
      this.comments.show = false;
    }
  },
  watch: {
    comments: {
      handler: function() {
        this.comment = this.comments.item.comment || "";
      },
      deep: true
    }
  }
};
</script>
