<template>
  <div>
    <ModalConfirm :confirmDeleteAnswer="confirmDeleteAnswer"></ModalConfirm>
    <ModalSeeImage :imgModal="imgModal"></ModalSeeImage>
    <div class="list-checklist-wrapper image-background" :class="`${theme}-bg`" v-show="showList">
      <div class="questions-wrapper">
        <questions
          v-for="(item, ind) in questionsByCategory"
          :key="ind"
          :item="item"
          :ind="ind"
          :confirmDeleteAnswer="confirmDeleteAnswer"
          :imgModal="imgModal"
          :categorySelected="categorySelected"
        ></questions>
      </div>
      <navigate></navigate>
    </div>
  </div>
</template>

<script>
import Questions from "./Questions.vue";
import Navigate from "./Navigate.vue";
import ModalConfirm from "./ModalConfirm.vue";
import ModalSeeImage from "./ModalSeeImage.vue";

export default {
  name: "List",
  props: ["showList", "questionsByCategory", "categorySelected"],
  components: {
    Navigate,
    Questions,
    ModalConfirm,
    ModalSeeImage
  },
  data() {
    return {
      theme: "",
      imgToSee: "",
      seeImg: false,
      confirmDeleteAnswer: {
        confirm: false,
        itemToDelete: null
      },
      imgModal: {
        imgToSee: "",
        seeImg: false
      },
      lastClickedIndex: null,
      imgToAnswer: ""
    };
  },
  mounted() {
    this.theme = window.theme();
    //console.log("log from list: " + this.questionsByCategory);

    let self = this;

    this.$on("confirmedDelete", function() {
      self.confirmDeleteAnswer.confirm = false;

      // by mhpm, reason: the complicate way that map the img id on Quesions.vue Line: 44
      let fileId;
      if (self.confirmDeleteAnswer.itemToDelete == 0) {
        fileId = "1" + self.confirmDeleteAnswer.itemToDelete;
      } else {
        fileId =
          self.confirmDeleteAnswer.itemToDelete.toString() +
          (self.confirmDeleteAnswer.itemToDelete - 1);
      }

      let id = `myFile${fileId}`;
      // end mhpm

      let inputToclean = document.getElementById(id);

      inputToclean.value = null;

      self.questionsByCategory[self.confirmDeleteAnswer.itemToDelete].imgUrl =
        "";
      self.questionsByCategory[self.confirmDeleteAnswer.itemToDelete].imgName =
        "";
      self.questionsByCategory[self.confirmDeleteAnswer.itemToDelete].answer =
        "";
      self.questionsByCategory[self.confirmDeleteAnswer.itemToDelete].comment =
        "";
      self.questionsByCategory[
        self.confirmDeleteAnswer.itemToDelete
      ].solved = false;
      self.confirmDeleteAnswer.itemToDelete = null;
      self.sendAnswer();
    });

    $(window).resize(function() {
      self.checkListHeight();
    });
  },
  methods: {
    sendAnswer() {
      let self = this;

      let data = {
        id: self.categorySelected,
        category: self.$parent.categoryInfo.category,
        questions: self.questionsByCategory
      };

      console.log(data);

      writeData("questions", data)
        .then(function(data) {
          console.log("setted");
        })
        .catch(function(error) {
          console.log("Error " + error);
        });
    },

    checkListHeight() {
      let headersHeight = $(".header-wrapper").outerHeight();
      let categoryHeader = $(".category-check")
        .first()
        .outerHeight();
      let windowHeight = $(window).outerHeight();
      let paddingList = $(".list-checklist-wrapper").css("padding-top");

      let listHeight =
        windowHeight - categoryHeader - headersHeight - parseInt(paddingList);
      let topContent = headersHeight + categoryHeader;

      $(".list-checklist-wrapper").css({ height: listHeight, top: topContent });
      $("body").addClass("body-fixed");
    }
  },
  watch: {
    showList() {
      if (this.showList) this.checkListHeight();
      else $("body").removeClass("body-fixed");
    }
  }
};
</script>

