<template>
  <transition name="fade" mode="out-in">
    <div class="modal" v-show="imgModal.seeImg">
      <div class="modal-wrapper">
        <div class="modal-container text-center">
          <p class="text-right">
            <a
              href="#"
              @click.prevent="imgModal.seeImg = false"
              title="Cancelar"
              class="cancel-lnk big-font"
            >
              <i class="fa fa-times"></i>
            </a>
          </p>
          <img alt="Grupo Axo" :src="imgModal.imgToSee" style="max-width: 85%; max-height:400px">
          <canvas id="c" v-show="false" width="400" height="400"></canvas>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: "ModalSeeImage",
  props: ["imgModal"]
};
</script>