<template>
	<transition name="fade" mode="out-in">
		<div class="modal" v-show="confirmDeleteAnswer.confirm">
			<div class="modal-wrapper">
				<div class="modal-container text-center">
            		<h2 class="color-title-modal big-font">¿Estás seguro que deseas eliminar esta foto? </h2>
					<p class="color-subtitle-modal medium-font">Al eliminar esta foto se quitará el registro "No" de la respuesta</p>
					<div class="modal-margin-bottom">
						<button class="btn-confirm-modal medium-font" @click="confirmDelete">
							Aceptar
						</button>
					</div>
					<a href="#" @click.prevent="confirmDeleteAnswer.confirm = false" title="Cancelar" class="cancel-lnk medium-font">CANCELAR</a>
        		</div>
      		</div>
    	</div>
  	</transition>
</template>

<script>
export default {
  name: 'ModalConfirm',
  props: ['confirmDeleteAnswer'],
  methods: {
    confirmDelete() {
      this.$parent.$emit('confirmedDelete');
    },
  },
};
</script>