<template>
  <div class="navigate-wrap">
    <section class="flex">
      <button
        class="width100 text-center medium-font padding20"
        @click="goForward(false)"
        style="border-right:1px solid #ccc;"
      >
        <span class="fa fa-chevron-left" style="font-size:1.4em;"></span>
      </button>
      <button class="width100 text-center medium-font padding20" @click="goForward(true)">
        <span class="fa fa-chevron-right" style="font-size:1.4em;"></span>
      </button>
    </section>
  </div>
</template>

<script>
export default {
  name: "Navigate",
  methods: {
    goForward(forward) {
      this.$parent.$parent.$emit("goForward", forward);
    }
  }
};
</script>