<template>
  <article class="item-question">
    <div class="comment-wrapper">
      <button title="Comentario" @click.prevent="openCommentModule" :disabled="!avilableComment">
        <span v-show="itHasCommentOption && item.comment != ''" class="comment-marker">1</span>
        <i class="fas fa-comments"></i>
      </button>
    </div>
    <section class="item-question-text medium-font">
      <p>
        <strong>{{item.question}}</strong>
      </p>
    </section>

    <div style="display: grid; grid-template-columns: repeat(3, 1fr);">
      <section
        v-if="answer.answer != 'n/r'"
        v-for="(answer, index) in item.answers"
        :key="index"
        class="buttonsQuestion"
        style
      >
        <div
          v-if="answer.answer != 'n/r'"
          @click="setAnswer(answer.answer, answer.id)"
          :class="{
            answerYesActive :  answer.answer == 'si' && item.answer == 'si',
            answerNoActive : answer.answer == 'no' && item.answer == 'no',
            answerNaActive : answer.answer != '' && answer.answer != 'no' && answer.answer != 'si' && item.answer == answer.answer,
            'color-green' : answer.answer == 'si',
            'color-red' : answer.answer == 'no',
        }"
          class="item-question-answer small-font text-center"
        >
          <h3 class="uppercase">
            {{answer.answer}}
            <template>
              <span v-if="answer.answer == 'si'" class="fa fa-check-circle"></span>
              <span v-if="answer.answer == 'no'" class="fa fa-times-circle"></span>
            </template>
          </h3>
        </div>
        <transition
          v-if="answer.answer == 'no'"
          mode="out-in"
          enter-active-class="animated bounceIn"
        >
          <section class="lastQContainer" v-if="item.answer == 'no'">
            <p style="padding: 14px; font-size: 14px;">¿Se resolvió en el momento?</p>
            <div @click="setLastQuestion('si', answer.id)" class="lastQuestion">
              <span
                :class="['lastItem',{'answerYesActive': item.solved == true || this.lastQuestion == 'si'}]"
              >&nbsp;Si&nbsp;</span>
            </div>
            <div @click="setLastQuestion('no', answer.id)" class="lastQuestion">
              <span
                :class="['lastItem',{'answerNoActive': item.solved == false || this.lastQuestion == 'no'}]"
              >No</span>
            </div>
          </section>
        </transition>
      </section>
    </div>

    <input
      class="pointer"
      accept="image/*"
      capture="camera"
      type="file"
      style="opacity:0;position:absolute;left:-1000px;"
      :id="`myFile${item.id}${ind}`"
      name="file"
      @change="onFileChange"
    >
    <section
      class="flex"
      v-if=" item.requiredPhoto == true && item.answer == 'no'"
      style=" justify-content:space-between; background:#e4574e; color:white;"
    >
      <p
        class="pointer"
        @click="seeAnswerImg(item.image)"
        style="text-decoration:underline; margin-left:10px; padding:5px;"
      >VER FOTO</p>
      <div
        class="pointer"
        @click="deleteNoAnswer(item.id ,ind)"
        style="border-left:1px solid white; padding:5px 9px;"
      >
        <span class="fa fa-times"></span>
      </div>
    </section>
  </article>
</template>

<script>
export default {
  name: "Question",
  props: ["item", "ind", "confirmDeleteAnswer", "imgModal", "categorySelected"],
  data() {
    return {
      orientation: "",
      commentComplete: false,
      itHasCommentOption: false,
      itHasPhotoOption: false,
      itHasAnswerOption: false,
      idAnswer: "",
      answerValue: "",
      lastQuestion: "",
      isLoadingImg: false
    };
  },
  created() {
    console.log(this.item.image);
  },
  mounted() {
    let self = this;
    this.checkCommentOption();
    this.checkPhotoOption();
    this.checkAnswerOption();

    if (this.item.solved == true) this.lastQuestion == "si";
    else this.lastQuestion == "no";

    // eventHub.$on(
    //   `markCommentComplete-${self.categorySelected}${self.item.id}`,
    //   function() {
    //     self.commentComplete = true;
    //     self.sendAnswerRequest();
    //   }
    // );

    // eventHub.$on("Comment", function(comment) {
    //   //self.commentComplete = true;
    //   self.item.comment = comment;
    //   console.log("on");

    //   self.sendAnswerRequest();
    // });
  },
  methods: {
    endImageResize() {},
    setLastQuestion(answer, idAnswer) {
      //console.log(this.item);
      this.idAnswer = idAnswer;
      localStorage.setItem("idAnswer", idAnswer);
      if (answer == "si") {
        this.item.solved = true;
        this.lastQuestion = answer;
      }

      if (answer == "no") {
        this.item.solved = false;
        this.lastQuestion = answer;
      }
      localStorage.setItem("isSolved", this.item.solved);
      this.sendAnswerRequest();
    },
    checkAnswerOption() {
      let hasAnswer = this.item.answer || "";

      this.itHasAnswerOption = hasAnswer != "";

      if (!this.itHasAnswerOption) {
        this.$set(this.item, "answer", "");
        this.itHasAnswerOption = true;
      }
    },
    checkCommentOption() {
      let hasComment = this.item.comment || "";

      this.itHasCommentOption = hasComment != "";

      if (!this.itHasCommentOption) {
        this.$set(this.item, "comment", "");
        this.itHasCommentOption = true;
      }
    },
    checkPhotoOption() {
      let hasPhoto = this.item.image || "";

      this.itHasPhotoOption = hasPhoto != "";

      if (!this.itHasCommentOption) {
        this.$set(this.item, "image", "");
        this.itHasPhotoOption = true;
      }
    },
    seeAnswerImg(imgUrl) {
      this.imgModal.imgToSee = imgUrl;
      this.imgModal.seeImg = true;
    },
    deleteNoAnswer(id, index) {
      this.confirmDeleteAnswer.confirm = true;
      this.confirmDeleteAnswer.itemToDelete = index;
    },
    setAnswer(value, idAnswer) {
      console.log("Value " + value);
      let self = this;
      this.idAnswer = idAnswer;
      console.log(this.idAnswer);

      this.answerValue = value;

      localStorage.setItem("idAnswer", idAnswer);

      //console.log(this.answerValue);

      let answering = localStorage.getItem("answering") || "";
      //console.log(answering);

      if (answering == "" || answering == "0") {
        this.$store.dispatch("setAnswering", true);
        localStorage.setItem("answering", "1");
        self.$bus.$emit("answering", true);
      }

      if (value == "no" && this.item.requiredPhoto) {
        $(`#myFile${self.item.id}${self.ind}`).click();
        //return;
      }

      if (value != "no") $(`#myFile${self.item.id}${self.ind}`).val("");

      this.item.answer = value;

      console.log(value);
      if (value == "no") {
        this.item.solved == false;
        this.lastQuestion = value;
        localStorage.setItem("isSolved", false);
      }

      this.sendAnswer();
    },
    sendAnswer() {
      let self = this;

      let data = {
        id: self.categorySelected,
        category: self.$parent.$parent.categoryInfo.category,
        questions: self.$parent.questionsByCategory
      };

      writeData("questions", data)
        .then(function(data) {
          console.log("setted");
        })
        .catch(function(error) {
          console.log("Error " + error);
        });

      self.sendAnswerRequest();
    },

    sendAnswerRequest() {
      let self = this;
      if (self.answerValue == "no" && self.item.requiredPhoto == true) {
        console.log("answerValue no && requiredOhoto true");

        return;
      }

      let branchObject = { id: 0 };
      let branchSelected = localStorage.getItem("selectedBranch") || "";

      if (branchSelected != "") {
        branchObject = JSON.parse(branchSelected);
      }

      let dataRequest = {
        user_id: localStorage.getItem("id"),
        question_id: self.item.id,
        answer_id: self.idAnswer,
        branch_id: branchObject.id,
        solved: self.item.solved,
        comments: self.item.comment
      };

      if (self.answerValue == "img" && this.item.requiredPhoto) {
        dataRequest.image = self.item.image;
      }

      console.log("Questions saveRequest");
      console.log(dataRequest);
      this.$parent.$parent.$emit("saveRequest", dataRequest);

      //if (self.commentComplete) dataRequest.comments = self.item.comment;

      // axios
      //   .post(`${URL_SERVER}/api/answered`, dataRequest)
      //   .then(response => console.log("Saved in server"))
      //   .catch(error =>
      //     console.log("Se encontró un problema en la petición de la respuesta")
      //   );
    },
    onFileChange(e) {
      let files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;

      console.log(files[0]);
      this.item.answer = "no";
      this.compress(files[0]);
      //this.createImage(files[0]);
    },
    compress(file) {
      let self = this;
      self.isLoadingImg = true;
      const fileName = file.name;
      const reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onload = event => {
        const img = new Image();
        img.src = event.target.result;
        (img.onload = () => {
          const elem = document.createElement("canvas");
          const width = 600;
          const scaleFactor = width / img.width;
          elem.width = width;
          elem.height = img.height * scaleFactor;
          const ctx = elem.getContext("2d");
          // img.width and img.height will give the original dimensions
          ctx.drawImage(img, 0, 0, elem.width, elem.height);
          ctx.canvas.toBlob(
            blob => {
              const outputfile = new File([blob], fileName, {
                type: "image/jpeg",
                lastModified: Date.now()
              });
              console.log(outputfile);
              self.createImage(outputfile);
              //self.item.answer = "no";
              //self.sendAnswer();
            },
            "image/jpeg",
            1
          );
        }),
          (reader.onerror = error => console.log(error));
      };
    },
    getOrientation(file, callback) {
      var reader = new FileReader();

      reader.onload = function(event) {
        var view = new DataView(event.target.result);

        if (view.getUint16(0, false) != 0xffd8) return callback(-2);

        var length = view.byteLength,
          offset = 2;

        while (offset < length) {
          var marker = view.getUint16(offset, false);
          offset += 2;

          if (marker == 0xffe1) {
            if (view.getUint32((offset += 2), false) != 0x45786966) {
              return callback(-1);
            }
            var little = view.getUint16((offset += 6), false) == 0x4949;
            offset += view.getUint32(offset + 4, little);
            var tags = view.getUint16(offset, little);
            offset += 2;

            for (var i = 0; i < tags; i++)
              if (view.getUint16(offset + i * 12, little) == 0x0112)
                return callback(view.getUint16(offset + i * 12 + 8, little));
          } else if ((marker & 0xff00) != 0xff00) break;
          else offset += view.getUint16(offset, false);
        }
        return callback(-1);
      };

      reader.readAsArrayBuffer(file.slice(0, 64 * 1024));
    },
    openCommentModule() {
      let data = this.item;
      if (this.lastQuestion == "si") this.item.solved = true;
      else this.item.solved = false;

      this.$parent.$parent.$emit("openComment", data);
    },
    createImage(file) {
      let image = new Image();
      let reader = new FileReader();
      let self = this;
      var canvas = document.querySelector("#c");
      var ctx = canvas.getContext("2d");
      var width = 0;
      var height = 0;

      reader.onload = e => {
        self.item.image = e.target.result;
        //image.src = e.target.result
        //self.item.imgName = file.name
        self.item.answer = "no";
        self.answerValue = "img";
        self.sendAnswer();
        return;

        self.getOrientation(file, function(orientation) {
          self.orientation = orientation;
          console.log("self.orientation", self.orientation);
          drawImageRotate();
        });
      };

      /**
       * WORKING IN ROTATION
       * CANVAS DRAW CORRECTLY
       * WAITING FOR CROPT OR FOR CORRECT FUNTIONALITY
       */

      reader.readAsDataURL(file);

      image.onload = function() {
        width = image.width;
        height = image.height;

        drawImageRotate();
      };
      function drawImageRotate() {
        if (self.orientation != "" && width != 0 && height != 0) {
          canvas.width = width;
          canvas.height = height;

          switch (self.orientation) {
            case 2:
              console.log("Horitonzal");
              // horizontal flip
              ctx.translate(canvas.width, 0);
              ctx.scale(-1, 1);
              break;
            case 3:
              console.log("180");
              // 180° rotate left
              ctx.translate(canvas.width, canvas.height);
              ctx.rotate(Math.PI);
              break;
            case 4:
              console.log("vertical");
              // vertical flip
              ctx.translate(0, canvas.height);
              ctx.scale(1, -1);
              break;
            case 5:
              console.log("+90");
              // vertical flip + 90 rotate right
              ctx.rotate(0.5 * Math.PI);
              ctx.scale(1, -1);
              break;
            case 6:
              console.log("90");
              // 90° rotate right
              // ctx.translate(canvas.width, 0);
              // ctx.rotate(0.5 * Math.PI);
              ctx.transform(0, 1, -1, 0, height, 0);
              break;
            case 7:
              console.log("Horitonzal + 90");
              // horizontal flip + 90 rotate right
              ctx.rotate(0.5 * Math.PI);
              ctx.translate(canvas.width, -canvas.height);
              ctx.scale(-1, 1);
              break;
            case 8:
              console.log("90 left");
              // 90° rotate left
              ctx.rotate(-0.5 * Math.PI);
              ctx.translate(-canvas.width, 0);
              break;
          }

          /*canvas.width  = width;
                        canvas.height = height / (width / canvas.width);*/

          ctx.drawImage(image, 20, 20, canvas.width, canvas.height);

          //ctx.drawImage(image, 0, 0, width, height / (width / canvas.width));
          self.item.image = canvas.toDataURL("image/png");
          self.sendAnswer();
        }
      }
    }
  },
  computed: {
    avilableComment() {
      return this.item.answer != "";
    }
  },
  watch: {
    item: {
      handler: function() {
        this.checkCommentOption();
        this.checkPhotoOption();
        this.checkAnswerOption();
      },
      deep: true
    },

    "item.id"() {
      //console.log($(".input-picture"));
      $(".input-picture").val("");
    }
  }
};
</script>

