<template>
  <article class="item-question">
    <div class="comment-wrapper">
      <button title="Comentario" @click.prevent="openComment" :disabled="!avilableComment">
        <span v-show="itHasCommentOption && item.comment != ''" class="comment-marker">1</span>
        <i class="fas fa-comments"></i>
      </button>
    </div>
    <section class="item-question-text medium-font">
      <p>
        <strong>{{item.question}}</strong>
      </p>
    </section>
    <section class="flex" style="padding: 8px; background-color: #f1f1f1;">
      <div
        v-for="(answer, index) in item.answers"
        :key="index"
        v-if="answer.answer != 'n/r'"
        @click="beforeSetAnswer(answer.answer, answer.id)"
        :class="{
            answerYesActive :  answer.answer == 'si' && item.answer == 'si',
            answerNoActive : answer.answer == 'no' && item.answer == 'no',
            answerNaActive : answer.answer != '' && answer.answer != 'no' && answer.answer != 'si' && item.answer == answer.answer,
            'color-green' : answer.answer == 'si',
            'color-red' : answer.answer == 'no',
        }"
        class="width100 item-question-answer small-font text-center"
      >
        <h3 class="uppercase">
          {{answer.answer}}
          <template>
            <span v-if="answer.answer == 'si'" class="fa fa-check-circle"></span>
            <span v-if="answer.answer == 'no'" class="fa fa-times-circle"></span>
          </template>
        </h3>
      </div>
    </section>
    <input
      class="pointer"
      accept="image/*"
      capture="camera"
      type="file"
      style="opacity:0;position:absolute;left:-1000px;"
      :id="`myFile${item.id}${ind}`"
      name="file"
      @change="onFileChange"
    >

    <section
      class="flex"
      v-if=" item.requiredPhoto == true && item.answer == 'no'"
      style=" justify-content:space-between; background:#e4574e; color:white;"
    >
      <p
        class="pointer"
        @click="showImg(item.image)"
        style="text-decoration:underline; margin-left:10px; padding:5px;"
      >VER FOTO</p>
      <div
        class="pointer"
        @click="deleteNoAnswer(item.id ,ind)"
        style="border-left:1px solid white; padding:5px 9px;"
      >
        <span class="fa fa-times"></span>
      </div>
    </section>
    <transition
      v-if="item.required_corrected == true"
      mode="out-in"
      enter-active-class="animated bounceIn"
    >
      <section class="flex lastQContainer" v-if="item.answer == 'no'">
        <p style="padding: 14px; width: 80%; font-size: 15px;">¿Se resolvió en el momento?</p>
        <div @click="setLastQuestion(true)" class="lastQuestion">
          <span :class="['lastItem',{'answerYesActive': item.solved || lastQ}]">&nbsp;Si&nbsp;</span>
        </div>
        <div @click="setLastQuestion(false)" class="lastQuestion">
          <span :class="['lastItem',{'answerNoActive': !item.solved || !lastQ}]">No</span>
        </div>
      </section>
    </transition>
  </article>
</template>

<script>
export default {
  name: "Question",
  props: ["item", "ind", "confirmDeleteAnswer", "imgModal", "categorySelected"],
  data() {
    return {
      orientation: "",
      commentComplete: false,
      itHasCommentOption: false,
      itHasPhotoOption: false,
      itHasAnswerOption: false,
      idAnswer: "",
      answerValue: "",
      answer: "",
      lastQ: this.item.solved,
      isLoadingImg: false,
      comment: ""
    };
  },
  created() {},
  mounted() {
    let self = this;
    this.checkCommentOption();
    this.checkPhotoOption();
    this.checkAnswerOption();

    // console.log("solved: " + this.item.solved);
    // if (this.item.solved) {
    //   this.lastQuestion == this.item.solved;
    // } else {
    //   this.lastQuestion == this.item.solved;
    // }

    // eventHub.$on(
    //   `markCommentComplete-${self.categorySelected}${self.item.id}`,
    //   function() {
    //     self.commentComplete = true;
    //     self.sendAnswerRequest();
    //   }
    // );

    // eventHub.$on("Comment", function(comment) {
    //   //self.commentComplete = true;
    //   self.item.comment = comment;
    //   console.log("on");

    //   self.sendAnswerRequest();
    // });
  },
  methods: {
    showImg(imgUrl) {
      Swal({
        imageUrl: imgUrl,
        imageAlt: "Custom image"
      });
    },
    openComment() {
      let self = this;
      const { value: text } = Swal({
        html: `<strong>${self.item.question}</strong>`,
        input: "textarea",
        inputPlaceholder: "Escribe tu comentario...",
        showCancelButton: true,
        confirmButtonText: "Guardar",
        inputValue: self.item.comment
      }).then(result => {
        if (result.value) {
          self.item.comment = result.value;
          swal({
            title: "Guardando!",
            timer: 1000,
            onOpen: () => {
              swal.showLoading();
            }
          });
          self.answerValue = "";
          self.sendAnswer();
        }
      });
    },
    setLastQuestion(answer) {
      let self = this;
      this.item.solved = answer;
      this.beforeSetAnswer("nop", this.item.answers[1].id);
    },
    beforeSetAnswer(value, idAnswer) {
      let self = this;
      self.idAnswer = idAnswer;
      self.answerValue = value;
      self.answer = value;

      localStorage.setItem("idAnswer", idAnswer);
      let answering = localStorage.getItem("answering") || "";
      if (answering == "" || answering == "0") {
        this.$store.dispatch("setAnswering", true);
        localStorage.setItem("answering", "1");
        self.$bus.$emit("answering", true);
      }
      if (value == "no" && self.item.requiredPhoto) {
        $(`#myFile${self.item.id}${self.ind}`).click();
        return;
      }
      self.setAnswer(value, idAnswer);
    },
    setAnswer(value, idAnswer) {
      let self = this;

      if (value == "no") self.item.solved == false;
      else self.item.solved == null;

      if (value == "nop") {
        self.item.answer = "no";
        self.answerValue == "img";
      } else self.item.answer = value;

      if (value == "si" || value == "n/a") {
        console.log("clean img");
        $(`#myFile${self.item.id}${self.ind}`).val("");
      }

      self.sendAnswer();
    },
    sendAnswer() {
      let self = this;

      let data = {
        id: self.categorySelected,
        category: self.$parent.$parent.categoryInfo.category,
        questions: self.$parent.questionsByCategory
      };

      writeData("questions", data)
        .then(function(data) {
          console.log("setted");
        })
        .catch(function(error) {
          console.log("Error " + error);
        });
      self.sendAnswerRequest();
    },
    onFileChange(e) {
      let files = e.target.files || e.dataTransfer.files;
      if (!files.length) {
        console.log("no image");
        this.item.answer = "";
        return;
      }

      swal({
        title: "¡Cargando Imagen!",
        allowOutsideClick: false,
        onOpen: () => {
          swal.showLoading();
        }
      });

      this.item.answer = "no";
      this.compress(files[0]);
    },
    sendAnswerRequest() {
      let self = this;
      if (self.answerValue == "no" && self.item.requiredPhoto == true) {
        return;
      }

      let branchObject = { id: 0 };
      let branchSelected = localStorage.getItem("selectedBranch") || "";

      if (branchSelected != "") {
        branchObject = JSON.parse(branchSelected);
      }

      let dataRequest = {
        user_id: localStorage.getItem("id"),
        question_id: self.item.id,
        answer_id: self.idAnswer,
        branch_id: branchObject.id,
        image: self.item.image != null ? self.item.image : null,
        solved: self.item.solved != null ? self.item.solved : false,
        comments: self.item.comment
      };

      self.lastQ = dataRequest.solved;

      if (self.answerValue == "img" && this.item.requiredPhoto) {
        dataRequest.image = self.item.image;
        dataRequest.img = true;
      } else dataRequest.img = false;

      if (self.answerValue == "nop") {
        dataRequest.image = self.item.image;
        dataRequest.img = true;
      }

      if (self.answer == "si" || self.answer == "n/a") {
        dataRequest.image = null;
      }
      console.log(dataRequest);

      if (self.item.required_corrected == false) dataRequest.solved = null;

      this.$parent.$parent.$emit("saveRequest", dataRequest);
    },
    checkAnswerOption() {
      let hasAnswer = this.item.answer || "";

      this.itHasAnswerOption = hasAnswer != "";

      if (!this.itHasAnswerOption) {
        this.$set(this.item, "answer", "");
        this.itHasAnswerOption = true;
      }
    },
    checkCommentOption() {
      let hasComment = this.item.comment || "";

      this.itHasCommentOption = hasComment != "";

      if (!this.itHasCommentOption) {
        this.$set(this.item, "comment", "");
        this.itHasCommentOption = true;
      }
    },
    checkPhotoOption() {
      let hasPhoto = this.item.image || "";

      this.itHasPhotoOption = hasPhoto != "";

      if (!this.itHasCommentOption) {
        this.$set(this.item, "image", "");
        this.itHasPhotoOption = true;
      }
    },
    seeAnswerImg(imgUrl) {
      this.imgModal.imgToSee = imgUrl;
      this.imgModal.seeImg = true;
    },
    deleteNoAnswer(id, index) {
      this.confirmDeleteAnswer.confirm = true;
      this.confirmDeleteAnswer.itemToDelete = index;
    },
    compress(file) {
      let self = this;
      self.isLoadingImg = true;
      const fileName = file.name;
      const reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onload = event => {
        const img = new Image();
        img.src = event.target.result;
        (img.onload = () => {
          const elem = document.createElement("canvas");
          const width = 600;
          const scaleFactor = width / img.width;
          elem.width = width;
          elem.height = img.height * scaleFactor;
          const ctx = elem.getContext("2d");
          // img.width and img.height will give the original dimensions
          ctx.drawImage(img, 0, 0, elem.width, elem.height);
          ctx.canvas.toBlob(
            blob => {
              const outputfile = new File([blob], fileName, {
                type: "image/jpeg",
                lastModified: Date.now()
              });
              console.log(outputfile);
              self.createImage(outputfile);
            },
            "image/jpeg",
            1
          );
        }),
          (reader.onerror = error => console.log(error));
      };
    },
    createImage(file) {
      let image = new Image();
      let reader = new FileReader();
      let self = this;
      var canvas = document.querySelector("#c");
      var ctx = canvas.getContext("2d");
      var width = 0;
      var height = 0;

      reader.onload = e => {
        self.item.image = e.target.result;
        //image.src = e.target.result
        //self.item.imgName = file.name
        self.item.answer = "no";
        self.answerValue = "img";
        self.sendAnswer();
        console.log("ceate img");

        //self.setAnswer("no", self.item.answers[1].id);
        return;

        self.getOrientation(file, function(orientation) {
          self.orientation = orientation;
          console.log("self.orientation", self.orientation);
          drawImageRotate();
        });
      };

      /**
       * WORKING IN ROTATION
       * CANVAS DRAW CORRECTLY
       * WAITING FOR CROPT OR FOR CORRECT FUNTIONALITY
       */

      reader.readAsDataURL(file);

      image.onload = function() {
        width = image.width;
        height = image.height;

        drawImageRotate();
      };
      function drawImageRotate() {
        if (self.orientation != "" && width != 0 && height != 0) {
          canvas.width = width;
          canvas.height = height;

          switch (self.orientation) {
            case 2:
              console.log("Horitonzal");
              // horizontal flip
              ctx.translate(canvas.width, 0);
              ctx.scale(-1, 1);
              break;
            case 3:
              console.log("180");
              // 180° rotate left
              ctx.translate(canvas.width, canvas.height);
              ctx.rotate(Math.PI);
              break;
            case 4:
              console.log("vertical");
              // vertical flip
              ctx.translate(0, canvas.height);
              ctx.scale(1, -1);
              break;
            case 5:
              console.log("+90");
              // vertical flip + 90 rotate right
              ctx.rotate(0.5 * Math.PI);
              ctx.scale(1, -1);
              break;
            case 6:
              console.log("90");
              // 90° rotate right
              // ctx.translate(canvas.width, 0);
              // ctx.rotate(0.5 * Math.PI);
              ctx.transform(0, 1, -1, 0, height, 0);
              break;
            case 7:
              console.log("Horitonzal + 90");
              // horizontal flip + 90 rotate right
              ctx.rotate(0.5 * Math.PI);
              ctx.translate(canvas.width, -canvas.height);
              ctx.scale(-1, 1);
              break;
            case 8:
              console.log("90 left");
              // 90° rotate left
              ctx.rotate(-0.5 * Math.PI);
              ctx.translate(-canvas.width, 0);
              break;
          }

          /*canvas.width  = width;
                        canvas.height = height / (width / canvas.width);*/

          ctx.drawImage(image, 20, 20, canvas.width, canvas.height);

          //ctx.drawImage(image, 0, 0, width, height / (width / canvas.width));
          self.item.image = canvas.toDataURL("image/png");
          self.sendAnswer();
        }
      }
    },
    getOrientation(file, callback) {
      var reader = new FileReader();

      reader.onload = function(event) {
        var view = new DataView(event.target.result);

        if (view.getUint16(0, false) != 0xffd8) return callback(-2);

        var length = view.byteLength,
          offset = 2;

        while (offset < length) {
          var marker = view.getUint16(offset, false);
          offset += 2;

          if (marker == 0xffe1) {
            if (view.getUint32((offset += 2), false) != 0x45786966) {
              return callback(-1);
            }
            var little = view.getUint16((offset += 6), false) == 0x4949;
            offset += view.getUint32(offset + 4, little);
            var tags = view.getUint16(offset, little);
            offset += 2;

            for (var i = 0; i < tags; i++)
              if (view.getUint16(offset + i * 12, little) == 0x0112)
                return callback(view.getUint16(offset + i * 12 + 8, little));
          } else if ((marker & 0xff00) != 0xff00) break;
          else offset += view.getUint16(offset, false);
        }
        return callback(-1);
      };

      reader.readAsArrayBuffer(file.slice(0, 64 * 1024));
    },
    openCommentModule() {
      let data = this.item;
      if (this.lastQuestion == "si") this.item.solved = true;
      else this.item.solved = false;

      this.$parent.$parent.$emit("openComment", data);
    }
  },
  computed: {
    avilableComment() {
      return this.item.answer != "";
    }
  },
  watch: {
    item: {
      handler: function() {
        this.checkCommentOption();
        this.checkPhotoOption();
        this.checkAnswerOption();
      },
      deep: true
    },

    "item.id"() {
      //console.log($(".input-picture"));
      $(".input-picture").val("");
    }
  }
};
</script>

